.version.index /* version checker */
{
	color: #0000E9;
	background-color: #0808E8;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-image: none;
	margin-left: auto;
	background-color: transparent;
	border-color: #000000;
	z-index: 1;
	margin-right: auto;
	border-width: 0px;
	width: 100%;
	padding-top: 62px;
}

#u230
{
	z-index: 110;
	background: transparent url("../images/7788443300.jpg") no-repeat center center;
	background-size: cover;
}

#u230-bw
{
	z-index: 110;
}

#u94
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 2;
}

#u116
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 8;
}

#u137
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 14;
}

#u130
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 12;
}

#u123
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 10;
}

#u144
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 16;
}

#u151
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 18;
}

#u158
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 20;
}

#u102
{
	z-index: 4;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
}

#u109
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 6;
}

#u194-88
{
	background-color: transparent;
	position: relative;
	z-index: 22;
}

#u194-2
{
	font-size: 30px;
	text-align: center;
	line-height: 42px;
}

#u194-8
{
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
}

#u194-4,#u194-6,#u194-10,#u194-12,#u194-14,#u194-16,#u194-18,#u194-20,#u194-22,#u194-24,#u194-26,#u194-28,#u194-30,#u194-32,#u194-34,#u194-36,#u194-38,#u194-40,#u194-42,#u194-44,#u194-46,#u194-48,#u194-50,#u194-52,#u194-54,#u194-56,#u194-58,#u194-60,#u194-62,#u194-64,#u194-66,#u194-68,#u194-70,#u194-72,#u194-74,#u194-76,#u194-78,#u194-80,#u194-82,#u194-84,#u194-86
{
	font-size: 16px;
	line-height: 22px;
}

#u250
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 111;
}

#u256
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 117;
}

#u262
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 123;
}

#u260
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 121;
}

#u258
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 119;
}

#u264
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 125;
}

#u266
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 127;
}

#u268
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 129;
}

#u252
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 113;
}

#u254
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	z-index: 115;
}

#u94_img,#u116_img,#u137_img,#u130_img,#pu123,#u123_img,#u144_img,#u151_img,#u158_img,#u102_img,#u109_img,#u250_img,#u256_img,#u262_img,#u260_img,#u258_img,#u264_img,#u266_img,#u268_img,#u252_img,#u254_img
{
	width: 100%;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 481px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 375.9376545px;
		padding-bottom: 62.06234549999999px;
	}

	#u230_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
	}

	#u250
	{
		margin-bottom: -7px;
		margin-top: 309px;
		width: 14.35%;
		left: 2.53%;
	}

	#u256
	{
		margin-bottom: -12px;
		margin-top: 309px;
		width: 15.05%;
		left: 26.18%;
	}

	#u230,#u230-bw
	{
		min-height: 412px;
	}

	#ppu102
	{
		margin-top: 28px;
		width: 100%;
	}

	#pu102
	{
		margin-right: -10000px;
		margin-top: 10px;
		width: 14.35%;
		margin-left: 23.4%;
	}

	#u102
	{
		width: 60.61%;
	}

	#u260
	{
		margin-top: 4px;
		width: 81.82%;
		left: 18.19%;
	}

	#u94
	{
		width: 14.35%;
		left: 3.31%;
	}

	#u109
	{
		width: 16.18%;
		left: 41.66%;
	}

	#u116
	{
		margin-top: 18px;
		width: 15.05%;
		left: 72.61%;
	}

	#u262
	{
		margin-top: 7px;
		width: 10.7%;
		left: 2.53%;
	}

	#pu123
	{
		margin-top: 3px;
	}

	#u123
	{
		margin-top: 58px;
		width: 11.74%;
		left: 8.79%;
	}

	#u130
	{
		margin-top: 66px;
		width: 11.74%;
		left: 31.05%;
	}

	#u137
	{
		margin-top: 66px;
		width: 10.7%;
		left: 53.4%;
	}

	#u144
	{
		margin-top: 52px;
		width: 15.83%;
		left: 75.74%;
	}

	#u151
	{
		margin-top: 162px;
		width: 22.79%;
		left: 13.05%;
	}

	#u158
	{
		margin-top: 206px;
		width: 19.4%;
		left: 49.74%;
	}

	#u194-88
	{
		margin-right: -10000px;
		margin-top: 431px;
		width: 93.57%;
		left: 4.79%;
	}

	#u252
	{
		margin-top: 296px;
		width: 8.7%;
		left: 2.53%;
	}

	#u254
	{
		margin-top: 331px;
		width: 16.18%;
		left: 23.14%;
	}

	#u258
	{
		width: 11.74%;
		left: 2.53%;
	}

	#u264
	{
		margin-top: 24px;
		width: 15.83%;
		left: 26.79%;
	}

	#u266
	{
		margin-top: 128px;
		width: 22.79%;
		left: 2.53%;
	}

	#u268
	{
		margin-top: 165px;
		width: 19.4%;
		left: 23.48%;
	}
}

@media (min-width: 321px) and (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 375.8570447921111px;
		padding-bottom: 62.14295520788892px;
		max-width: 480px;
	}

	#u230,#u230-bw
	{
		height: 186px;
	}

	#pu94
	{
		margin-top: 51px;
		width: 100%;
	}

	#u94
	{
		width: 33.75%;
		left: 3.96%;
	}

	#u137
	{
		width: 31.05%;
		left: 3.96%;
	}

	#u130
	{
		margin-top: 7px;
		width: 36.46%;
		left: 60.21%;
	}

	#pu123
	{
		margin-top: 5px;
	}

	#u123
	{
		width: 30.63%;
		left: 3.96%;
	}

	#u144
	{
		margin-top: 24px;
		width: 34.59%;
		left: 62.09%;
	}

	#u151
	{
		width: 43.13%;
		left: 3.96%;
	}

	#u102
	{
		width: 32.09%;
		left: 3.96%;
	}

	#u109
	{
		margin-top: 35px;
		width: 43.34%;
		left: 53.34%;
	}

	#u194-88
	{
		margin-top: 11px;
		width: 93.55%;
		margin-left: 3.13%;
	}

	#pu250
	{
		margin-top: 61px;
		width: 100%;
	}

	#u250
	{
		width: 33.75%;
		left: 4.17%;
	}

	#u116,#u256
	{
		width: 36.05%;
		left: 60.63%;
	}

	#pu137,#pu262
	{
		margin-top: 23px;
		width: 100%;
	}

	#u262
	{
		width: 31.05%;
		left: 4.17%;
	}

	#u260
	{
		margin-top: 8px;
		width: 36.46%;
		left: 60.42%;
	}

	#pu258
	{
		margin-top: 5px;
		width: 100%;
	}

	#u258
	{
		width: 30.63%;
		left: 4.17%;
	}

	#u264
	{
		margin-top: 25px;
		width: 34.59%;
		left: 62.3%;
	}

	#pu151,#pu266
	{
		margin-top: -7px;
		width: 100%;
	}

	#u266
	{
		width: 43.13%;
		left: 4.17%;
	}

	#u158,#u268
	{
		margin-top: 37px;
		width: 42.5%;
		left: 54.17%;
	}

	#pu102,#pu252
	{
		margin-top: -5px;
		width: 100%;
	}

	#u252
	{
		width: 32.09%;
		left: 4.17%;
	}

	#u254
	{
		margin-top: 35px;
		width: 43.34%;
		left: 53.55%;
	}
}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 376px;
		padding-bottom: 62px;
		max-width: 320px;
	}

	#u230,#u230-bw
	{
		height: 186px;
	}

	#pu94
	{
		margin-top: 51px;
		width: 100%;
	}

	#pu137
	{
		margin-top: 22px;
		width: 100%;
	}

	#u130
	{
		margin-top: 8px;
		width: 36.57%;
		left: 60.32%;
	}

	#pu123
	{
		margin-top: 6px;
	}

	#u144
	{
		margin-top: 24px;
		width: 34.69%;
		left: 62.19%;
	}

	#pu102
	{
		margin-top: -5px;
		width: 100%;
	}

	#u194-88
	{
		margin-top: 11px;
		width: 93.44%;
		margin-left: 3.13%;
	}

	#pu250
	{
		margin-top: 62px;
		width: 100%;
	}

	#u94,#u250
	{
		width: 33.75%;
		left: 4.07%;
	}

	#u116,#u256
	{
		width: 35.94%;
		left: 60.63%;
	}

	#pu262
	{
		margin-top: 23px;
		width: 100%;
	}

	#u137,#u262
	{
		width: 30.94%;
		left: 4.07%;
	}

	#u260
	{
		margin-top: 7px;
		width: 36.57%;
		left: 60.32%;
	}

	#pu258
	{
		margin-top: 5px;
		width: 100%;
	}

	#u123,#u258
	{
		width: 30.63%;
		left: 4.07%;
	}

	#u264
	{
		margin-top: 25px;
		width: 34.69%;
		left: 62.19%;
	}

	#pu151,#pu266
	{
		margin-top: -7px;
		width: 100%;
	}

	#u151,#u266
	{
		width: 43.13%;
		left: 4.07%;
	}

	#u158,#u268
	{
		margin-top: 37px;
		width: 42.5%;
		left: 54.07%;
	}

	#pu252
	{
		margin-top: -4px;
		width: 100%;
	}

	#u102,#u252
	{
		width: 32.19%;
		left: 4.07%;
	}

	#u109,#u254
	{
		margin-top: 35px;
		width: 43.13%;
		left: 53.44%;
	}

	body
	{
		min-width: 320px;
	}
}

