	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 375.9376545px;
		padding-bottom: 62.06234549999999px;
	}

	#u230_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
	}

	#u250
	{
		margin-bottom: -7px;
		margin-top: 309px;
		width: 14.35%;
		left: 2.53%;
	}

	#u256
	{
		margin-bottom: -12px;
		margin-top: 309px;
		width: 15.05%;
		left: 26.18%;
	}

	#u230,#u230-bw
	{
		min-height: 412px;
	}

	#ppu102
	{
		margin-top: 28px;
		width: 100%;
	}

	#pu102
	{
		margin-right: -10000px;
		margin-top: 10px;
		width: 14.35%;
		margin-left: 23.4%;
	}

	#u102
	{
		width: 60.61%;
	}

	#u260
	{
		margin-top: 4px;
		width: 81.82%;
		left: 18.19%;
	}

	#u94
	{
		width: 14.35%;
		left: 3.31%;
	}

	#u109
	{
		width: 16.18%;
		left: 41.66%;
	}

	#u116
	{
		margin-top: 18px;
		width: 15.05%;
		left: 72.61%;
	}

	#u262
	{
		margin-top: 7px;
		width: 10.7%;
		left: 2.53%;
	}

	#pu123
	{
		margin-top: 3px;
	}

	#u123
	{
		margin-top: 58px;
		width: 11.74%;
		left: 8.79%;
	}

	#u130
	{
		margin-top: 66px;
		width: 11.74%;
		left: 31.05%;
	}

	#u137
	{
		margin-top: 66px;
		width: 10.7%;
		left: 53.4%;
	}

	#u144
	{
		margin-top: 52px;
		width: 15.83%;
		left: 75.74%;
	}

	#u151
	{
		margin-top: 162px;
		width: 22.79%;
		left: 13.05%;
	}

	#u158
	{
		margin-top: 206px;
		width: 19.4%;
		left: 49.74%;
	}

	#u194-88
	{
		margin-right: -10000px;
		margin-top: 431px;
		width: 93.57%;
		left: 4.79%;
	}

	#u252
	{
		margin-top: 296px;
		width: 8.7%;
		left: 2.53%;
	}

	#u254
	{
		margin-top: 331px;
		width: 16.18%;
		left: 23.14%;
	}

	#u258
	{
		width: 11.74%;
		left: 2.53%;
	}

	#u264
	{
		margin-top: 24px;
		width: 15.83%;
		left: 26.79%;
	}

	#u266
	{
		margin-top: 128px;
		width: 22.79%;
		left: 2.53%;
	}

	#u268
	{
		margin-top: 165px;
		width: 19.4%;
		left: 23.48%;
	}

