a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_5db5a622 a { text-decoration: none; }
#menu_5db5a622_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_5db5a622_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_5db5a622_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_5db5a622_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_5db5a622_entry:hover span { color:#FFFFFF !important; }
		.menu_5db5a622_mainMenuEntry { text-align: center; }
		.menu_5db5a622_mainMenuEntry:hover {	background-color:#282828; }
		.menu_5db5a622_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_5db5a622 .mobileEntry { display: none; } 
		#menu_5db5a622 .normalEntry { display: block; } 
		@media only screen and (max-width:900px) { 
			#menu_5db5a622 .mobileEntry { display: block; } 
			#menu_5db5a622 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_343b5305 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; width:100%; min-height:63px; max-width:1200px; background-color:#FFFFFF;  }
#container_343b5305_padding { margin: 10px; display: block;  }
#container_190c23ae { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:60px; background:none;  }
#container_190c23ae_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#menu_5db5a622 { vertical-align: bottom; position:relative; display: inline-block; width:246px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:45px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:48px;  }
.textstyle3 { font-size:32pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:78px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle4 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565; font-weight:bold;  white-space: nowrap; }
.textstyle5 { font-size:10pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#A8A8A8; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:66px; height:38px; left:88px;  }
.menustyle4 { position:absolute; width:78px; height:38px; left:154px;  }
.textstyle6 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565; font-weight:bold;  white-space: nowrap; }
#container_2f04d44a { vertical-align: top; position:relative; display: inline-block; margin:0px 0px 40px 0px;width:100%; min-height:150px; max-width:1200px; background-color:#80FFFF;  }
#container_2f04d44a_padding { margin: 10px; display: block;  }
#container_4bd8ccd3 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; margin:10px; width:31%; min-height:190px; background-color:#FF8040;  }
#container_4bd8ccd3_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle8 { font-size:18pt; font-family:'PT Sans Narrow'; color:#FFFF00;  }
.textstyle9 { font-size:12pt; font-family:'PT Sans Narrow'; color:#FFFF00;  }
#container_6848ba0 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; margin:10px; width:31%; min-height:190px; background-color:#008000;  }
#container_6848ba0_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFF80;  }
#container_5937bf07 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; margin:10px; width:31%; min-height:190px; background-color:#0000FF;  }
#container_5937bf07_padding { margin: 10px; display: block;  }
#container_7a1f4ea1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_7a1f4ea1_padding { margin: 10px; display: block;  }
#container_38f1d0e3 { vertical-align: top; position:relative; display: inline-block; margin:10px; width:31%; min-height:150px; background-color:#004080;  }
#container_38f1d0e3_padding { margin: 10px; display: block;  }
#container_5abfa5b { vertical-align: top; position:relative; display: inline-block; margin:10px; width:31%; min-height:150px; background-color:#008080;  }
#container_5abfa5b_padding { margin: 10px; display: block;  }
#container_c75a26f { vertical-align: top; position:relative; display: inline-block; margin:10px; width:31%; min-height:150px; background-color:#800080;  }
#container_c75a26f_padding { margin: 10px; display: block;  }
#container_3669e0f5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_3669e0f5_padding { margin: 10px; display: block;  }
#container_36035886 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_36035886_padding { margin: 10px; display: block;  }
#container_c145133 { vertical-align: top; border-radius: 5px; position:relative; display: inline-block; margin:0px 0px 30px 0px;width:100%; min-height:160px; background-color:#FF8000;  }
#container_c145133_padding { margin: 10px; display: block;  }
#img_1364a63e { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#container_7803b8b1 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_7803b8b1_padding { margin: 10px; display: block;  }
#container_301a3c75 { vertical-align: top; border-radius: 5px; position:relative; display: inline-block; width:100%; min-height:160px; background-color:#004040;  }
#container_301a3c75_padding { margin: 10px; display: block;  }
#container_36360adc { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_36360adc_padding { margin: 10px; display: block;  }
#container_6779c72 { vertical-align: top; border-radius: 5px; position:relative; display: inline-block; width:100%; min-height:160px; background-color:#000080; background: linear-gradient(to bottom, #000040, #000080);  }
#container_6779c72_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 900px)
{
		#menu_5db5a622 { width:150px;  }
}
@media only screen and (max-width: 640px)
{
		#container_4bd8ccd3 { width:92%;  }
		#container_6848ba0 { width:92%;  }
		#container_5937bf07 { width:92%;  }
		#container_38f1d0e3 { width:92%;  }
		#container_5abfa5b { width:92%;  }
		#container_c75a26f { width:92%;  }
		#container_36035886 { width:100%;  }
		#container_7803b8b1 { width:50%;  }
		#container_36360adc { width:50%;  }
}
