.u-section-1 {background-position: 50% 50%; background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/52e7d2444e53ac14f6da8c7dda79367d1d38d6ed5b586c4870277bd1954fc05cb8_1280.jpg")}
.u-section-1 .u-sheet-1 {min-height: 363px}
.u-section-1 .u-text-1 {width: 631px; font-size: 4.5rem; text-shadow: 0 -2px 8px rgba(245,214,84,1); margin: 60px auto 0}
.u-section-1 .u-text-2 {font-size: 1.25rem; margin: 30px 48px 0}
.u-section-1 .u-btn-1 {background-image: none; margin: 5px auto 60px; padding: 12px 58px 13px 57px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 299px}
.u-section-1 .u-text-2 {margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 229px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 172px}
.u-section-1 .u-text-1 {width: 540px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 108px}
.u-section-1 .u-text-1 {width: 340px; font-size: 3rem}
.u-section-1 .u-text-2 {font-size: 1rem} }.u-section-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/52e7dc454252ac14f6da8c7dda79367d1d38d6ed5b586c4870277bd1954fc05cb8_1280.jpg"); background-position: 50% 50%; min-height: 500px}
.u-section-2 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px; position: relative}
.u-section-2 .u-layout-cell-1 {min-height: 400px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-image-1 {width: 208px; height: 208px; margin: 0 auto}
.u-section-2 .u-layout-cell-2 {min-height: 400px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-1 {margin: 0}
.u-section-2 .u-layout-cell-3 {min-height: 400px}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-text-2 {margin: 0} 

@media (max-width: 1199px){ .u-section-2 {min-height: 220px}
.u-section-2 .u-layout-cell-1 {min-height: 330px}
.u-section-2 .u-layout-cell-2 {min-height: 330px}
.u-section-2 .u-layout-cell-3 {min-height: 330px} }

@media (max-width: 991px){ .u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-image-1 {width: 180px; height: 180px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .u-section-2 {min-height: 320px}
.u-section-2 .u-layout-wrap-1 {margin-top: 0; margin-bottom: 0}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }.u-section-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/Nalivnoi_Akril.png"); padding: 0}
.u-section-3 .u-sheet-1 {min-height: 616px}
.u-section-3 .u-text-1 {width: 694px; margin: 169px auto 0}
.u-section-3 .u-text-2 {width: 694px; margin: 20px auto 0}
.u-section-3 .u-form-1 {height: 302px; width: 694px; margin: 30px auto 45px}
.u-section-3 .u-btn-1 {padding: 7px 30px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 580px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 444px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 315px}
.u-section-3 .u-text-1 {width: 540px}
.u-section-3 .u-text-2 {width: 540px}
.u-section-3 .u-form-1 {width: 540px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 192px}
.u-section-3 .u-text-1 {width: 340px}
.u-section-3 .u-text-2 {width: 340px}
.u-section-3 .u-form-1 {width: 340px} }