a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_7d35d100 a { text-decoration: none; }
#menu_7d35d100_pane { background-color: #013A74; border: 1px solid #FFFFFF; padding-top: 25px; padding-bottom: 25px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_7d35d100_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_7d35d100_entry { padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; }
#menu_7d35d100_entry:hover { background-color: #FF8000; color: #FFFFFF !important; }
#menu_7d35d100_entry:hover span { color:#FFFFFF !important; }
		.menu_7d35d100_mainMenuEntry { text-align: center; }
		.menu_7d35d100_mainMenuEntry:hover {	background-color:#FF8000; }
		.menu_7d35d100_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_7d35d100 .mobileEntry { display: none; } 
		#menu_7d35d100 .normalEntry { display: block; } 
		@media only screen and (max-width:669px) { 
			#menu_7d35d100 .mobileEntry { display: block; } 
			#menu_7d35d100 .normalEntry { display: none; } 
		}
#rcCartModelBlockOverlay { position:fixed; background:#33333357; width:100vw; height:100vw; top:0; left:0; }
#rcCartBadge   { top:-5px; right:-5px; background:#858585; color:white; border-radius:50%; padding:2px 6px; font-size:12px; margin: 0px 0px 0px 5px; display:none; }
#rcCartOverlay, #rcCheckoutOverlay, #rcCommunicationOverlay  { z-index: 200; display: block; background-color: #ffffff; padding: 20px; box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.196078); position: fixed; top: 10%; left: 50%; transform: translate(-50%, 0%); width: min(400px, 90%); height: auto; font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
#rcCartOverlay h2, #rcCheckoutOverlay h2 { display: inline-block; margin: 0px 10px 20px 0px }
.rcCartPriceSection { float: right; }
@keyframes rcCartAnimKeyframes { 0%  { opacity: 0.05; }	100% { opacity: 1; } } 
.rcCartAnim { animation-name:rcCartAnimKeyframes; animation-delay:0ms; animation-duration:500ms; animation-iteration-count:1; animation-timing-function:ease; animation-direction:normal; animation-fill-mode:none; }
.rcCartButton:hover { background-color: #c6c6c6 !important; color: #525252 !important; } 
.rcCartCheckoutButton { border-radius: 20px; border: none; background-color: #5262db; color: #ffffff; font-weight: normal; padding: 10px; } 
.rcCartCheckoutButton:hover { background-color: #7e89e1; color: #ffffff; } 
.rcCartRoundButton { min-height: 32px; min-width: 32px; border-radius:45px; font-size: 20px; border: none; color: #000000; text-decoration:none; background-color: #d6d6d6; display: inline; cursor: default; white-space: nowrap; display: inline-block; } 
.rcCartRoundButton:hover { color: #000000; background-color: #eeeeee; } 
.rcCartCloseButton { float: right; position: absolute; right: 2px; top: 4px; } 
.rcCartOrderText { background-color: #e3e3e3; margin: 10px; padding: 10px; } 
#rcCheckoutOverlay input { height: 25px; }
#mmm {
    top: 56px;
}
body { background:none; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_53797471 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:108px; background-color:#FFFFFF;  }
#container_53797471_padding { margin: 20px 10px 20px 10px; display: block;  }
.textstyle2 { text-align:left; }
#text_250423ca { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:81px; background:none;  }
.textstyle3 { font-size:40pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000; font-weight:bold;  }
#text_24e3eb05 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:25px; background:none;  }
.textstyle4 { font-size:18pt; font-family:'Lucida Console', Monaco, monospace; color:#FFA925; font-weight:bold;  }
#container_650abe15 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background-color:#013A74; border-top: 2px solid #FFA925; border-left: none; border-right: none; border-bottom: 2px solid #FFA925;  }
#container_650abe15_padding { margin: 0px 10px 0px 10px; display: block;  }
#menu_7d35d100 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:90%; height:55px; text-align:left; background-color:#013A74;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:105px; height:55px; left:25px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:39px;  }
.textstyle5 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle2 { position:absolute; width:111px; height:55px; left:25px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:27px;  }
.textstyle6 { font-size:16pt; font-family:'PT Sans Narrow'; color:#FFFFFF;  white-space: nowrap; }
.menustyle3 { position:absolute; width:105px; height:55px; left:136px;  }
.menustyle4 { position:absolute; width:142px; height:55px; left:241px;  }
.menustyle5 { position:absolute; width:105px; height:55px; left:383px;  }
#img_19f446e8 { vertical-align: bottom; position:relative; display: inline-block; width:32px; background:none; height:auto;  }
#img_7d5b9fe0 { vertical-align: bottom; position:relative; display: inline-block; width:32px; background:none; height:auto;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#shapedivider_5ef93a62 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:31px; background-color:#004000;  }
#shapedivider_5ef93a62_padding { margin: 10px; display: block; position: relative;  }
#placeh_450824da { vertical-align: top; position:relative; display: inline-block; width:100%;  }
#container_50c906c2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#000040;  }
#container_50c906c2_padding { margin: 10px; display: block;  }
#container_12dee79e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1280px; background:none;  }
#container_12dee79e_padding { margin: 20px; display: block;  }
.textstyle8 { font-size:26pt; font-family:'PT Sans Narrow'; color:#00FF80; font-weight:bold;  }
.textstyle9 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle10 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF;  }
#container_79dff3b4 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_79dff3b4_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:14pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#00FF80; font-weight:bold;  }
.textstyle12 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000;  }
#container_2bc926a0 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_2bc926a0_padding { margin: 10px; display: block;  }
#container_15f9c727 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_15f9c727_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#jscript_2424bc03 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
@media only screen and (max-width: 650px)
{
		#container_79dff3b4 { width:100%;  }
		#container_2bc926a0 { width:100%;  }
		#container_15f9c727 { width:100%;  }
}
@media only screen and (max-width: 640px)
{
		#container_53797471 * span { font-size:33pt;  }
		#text_250423ca * span { font-size:33pt;  }
		#text_24e3eb05 * span { font-size:16pt;  }
}
