body {-webkit-nbsp-mode:normal !important;margin: 0px !important;padding:0px !important;line-height:1.4 !important;} .wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{margin:0px !important;padding:0px !important;text-align:left;} .wafxText  a{font-weight:400;font-style:normal;text-decoration:none;color:#3959a2;} .wafxText  a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#3959a2;} .wafxText p.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h1.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h2.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h3.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h4.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h5.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h6.waStyle-46641378-860f-4d44-aba7-14c0f37327a6{text-align:left;} .waStyle-46641378-860f-4d44-aba7-14c0f37327a6 a:link{font-weight:400;font-style:normal;text-decoration:none;color:#3959a2;} .waStyle-46641378-860f-4d44-aba7-14c0f37327a6 a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#3959a2;} .wafxText p.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h1.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h2.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h3.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h4.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h5.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h6.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de{text-align:left;} .waStyle-869c1f68-6108-4001-bba1-58f0e14b79de a:link{font-weight:400;font-style:normal;text-decoration:none;color:#646464;} .waStyle-869c1f68-6108-4001-bba1-58f0e14b79de a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#646464;} .wafxText p.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h1.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h2.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h3.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h4.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h5.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h6.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c{text-align:left;} .waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c a:link{font-weight:400;font-style:normal;text-decoration:none;color:#3959a2;} .waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#3959a2;} 
@media(max-width:425px){
.wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{color:#ffffff;font-family:PT Sans Narrow;font-size:24px;;font-weight:0;;}
.wafxText p.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h1.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h2.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h3.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h4.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h5.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h6.waStyle-46641378-860f-4d44-aba7-14c0f37327a6{color:#ffffff;font-family:PT Sans Narrow;font-size:24px;;font-weight:0;;}
.wafxText p.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h1.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h2.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h3.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h4.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h5.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h6.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de{color:#000000;font-family:Impact;font-size:20px;;font-weight:400;;}
.wafxText p.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h1.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h2.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h3.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h4.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h5.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h6.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c{color:#000000;font-family:PT Sans Narrow;font-size:14px;;font-weight:0;;}
}
@media(min-width:425px){
.wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{color:#ffffff;font-family:PT Sans Narrow;font-size:24px;;font-weight:0;;}
.wafxText p.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h1.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h2.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h3.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h4.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h5.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h6.waStyle-46641378-860f-4d44-aba7-14c0f37327a6{color:#ffffff;font-family:PT Sans Narrow;font-size:24px;;font-weight:0;;}
.wafxText p.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h1.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h2.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h3.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h4.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h5.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h6.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de{color:#000000;font-family:Impact;font-size:20px;;font-weight:400;;}
.wafxText p.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h1.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h2.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h3.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h4.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h5.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h6.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c{color:#000000;font-family:PT Sans Narrow;font-size:14px;;font-weight:0;;}
}
@media(min-width:768px){
.wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{color:#ffffff;font-family:PT Sans Narrow;font-size:24px;;font-weight:0;;}
.wafxText p.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h1.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h2.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h3.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h4.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h5.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h6.waStyle-46641378-860f-4d44-aba7-14c0f37327a6{color:#ffffff;font-family:PT Sans Narrow;font-size:24px;;font-weight:0;;}
.wafxText p.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h1.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h2.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h3.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h4.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h5.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h6.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de{color:#000000;font-family:Impact;font-size:20px;;font-weight:400;;}
.wafxText p.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h1.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h2.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h3.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h4.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h5.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h6.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c{color:#000000;font-family:PT Sans Narrow;font-size:14px;;font-weight:0;;}
}
@media(min-width:1024px){
.wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{color:#ffffff;font-family:PT Sans Narrow;font-size:38px;;font-weight:0;;}
.wafxText p.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h1.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h2.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h3.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h4.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h5.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h6.waStyle-46641378-860f-4d44-aba7-14c0f37327a6{color:#ffffff;font-family:PT Sans Narrow;font-size:38px;;font-weight:0;;}
.wafxText p.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h1.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h2.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h3.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h4.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h5.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h6.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de{color:#000000;font-family:Impact;font-size:20px;;font-weight:400;;}
.wafxText p.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h1.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h2.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h3.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h4.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h5.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h6.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
}
@media(min-width:1153px){
.wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{color:#ffffff;font-family:PT Sans Narrow;font-size:38px;;font-weight:0;;}
.wafxText p.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h1.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h2.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h3.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h4.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h5.waStyle-46641378-860f-4d44-aba7-14c0f37327a6,.wafxText h6.waStyle-46641378-860f-4d44-aba7-14c0f37327a6{color:#ffffff;font-family:PT Sans Narrow;font-size:38px;;font-weight:0;;}
.wafxText p.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h1.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h2.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h3.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h4.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h5.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de,.wafxText h6.waStyle-869c1f68-6108-4001-bba1-58f0e14b79de{color:#000000;font-family:Impact;font-size:20px;;font-weight:400;;}
.wafxText p.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h1.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h2.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h3.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h4.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h5.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c,.wafxText h6.waStyle-ab7c8798-5746-40b3-a8a7-47937c394b3c{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
}
.smt-wa-default{
color:#000000;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
.smt-wa-default a{
color:#0000ff !important;text-decoration:underline !important;}

.comp_0{background-color:#002c65;position:absolute;z-index:5;}
.comp_1{position:absolute;z-index:10;}
.comp_1 .wafx-menunid2 .wafx-menu-bt-hamburger svg{fill:#ffffff;}
.comp_10{position:absolute;z-index:50325;}
.comp_11{position:absolute;z-index:50080;}
.comp_12{background-color:rgba(0,0,0,0);position:absolute;z-index:50060;}
.comp_13{background-color:rgba(0,0,0,0);position:absolute;z-index:51060;}
.comp_14{position:absolute;z-index:50320;}
.comp_15{background-color:rgba(0,0,0,0);position:absolute;z-index:50995;}
.comp_16{background-color:#c22a20;position:absolute;z-index:50330;}
.comp_17{position:absolute;z-index:50065;}
.comp_18{background-color:rgba(0,0,0,0);position:absolute;z-index:50075;}
.comp_19{background-position:center bottom;background-size:cover;position:absolute;z-index:50055;}
.comp_2{background-color:#002c65;position:absolute;z-index:15;}
.comp_20{background-position:center center;background-size:cover;border-bottom:0px solid #c22a20;border-left:0px solid #c22a20;border-right:0px solid #c22a20;border-top:8px solid #c22a20;margin-bottom:-0px;margin-left:-0px;margin-right:-0px;margin-top:-8px;position:absolute;z-index:51000;}
.comp_21{position:absolute;z-index:50660;}
.comp_22{border-bottom:8px solid #c22a20;border-left:0px solid #c22a20;border-right:0px solid #c22a20;border-top:0px solid #c22a20;margin-bottom:-8px;margin-left:-0px;margin-right:-0px;margin-top:-0px;position:absolute;z-index:50070;}
.comp_23{background-color:rgba(0,0,0,0);position:absolute;z-index:50335;}
.comp_24{position:absolute;z-index:51065;}
.comp_25{position:absolute;z-index:51070;}
.comp_26{position:absolute;z-index:51075;}
.comp_27{position:absolute;z-index:51080;}
.comp_28{background-color:rgba(0,0,0,0);position:absolute;z-index:51085;}
.comp_29{background-color:rgba(0,0,0,0);position:absolute;z-index:52180;}
.comp_3{background-color:rgba(0,0,0,0);position:absolute;z-index:20;}
.comp_30{background-color:rgba(0,0,0,0);position:absolute;z-index:54365;}
.comp_4{background-color:#001c3f;position:absolute;z-index:25;}
.comp_5{background-color:rgba(0,0,0,0);position:absolute;z-index:30;}
.comp_6{background-color:rgba(0,0,0,0);position:absolute;z-index:35;}
.comp_7{background-color:rgba(0,0,0,0);position:absolute;z-index:40;}
.comp_8{background-color:#c22a20;position:absolute;z-index:50050;}
.comp_9{position:absolute;z-index:50160;}
.wafx-menunid2 .wafx-menu-frame-main .wafx-menu-item{color:#ffffff;font-family:'PT Sans Narrow';font-style:normal;font-weight:0;padding:0px;padding-left:10px;padding-right:10px;text-decoration:none;}
.wafx-menunid2 .wafx-menu-frame-main .wafx-menu-item:hover{background-color:#004397;color:#ffffff;}
.wafx-menunid2 .wafxMenuItemLeftPad{padding-left:25px;}
.wafx-menunid2 .wafxMenuItemRightPad{padding-right:25px;}
.wafx-menunid2 .wafxMenuItemVerticalPad{padding-bottom:15px;padding-top:15px;}
.wafx-menunid2 .wafxMenuPageBackText{background-color:black;color:white;font-family:'PT Sans Narrow';font-style:normal;font-weight:0;padding-bottom:20px;padding-top:20px;}
.wafx-menunid2.wafx-menu-frame .wafx-menu-item{color:#ffffff;padding:8px;text-decoration:none;}
.wafx-menunid2.wafx-menu-frame .wafx-menu-item:hover{background-color:#004397;color:#ffffff;}
body{background-color:#ffffff;}
@media(max-width:425px){
.blockPage{transform:scale(0.752941) ;transform-origin:top left;width:425px;}
.blockPagecontainer{width:320px;}
.compVis_0{display:block;}
.compVis_1{display:block;}
.compVis_10{display:block;}
.compVis_11{display:block;}
.compVis_12{display:block;}
.compVis_13{display:block;}
.compVis_14{display:block;}
.compVis_15{display:block;}
.compVis_16{display:none;}
.compVis_17{display:block;}
.compVis_18{display:block;}
.compVis_19{display:block;}
.compVis_2{display:block;}
.compVis_20{display:block;}
.compVis_21{display:block;}
.compVis_22{display:block;}
.compVis_23{display:block;}
.compVis_24{display:block;}
.compVis_25{display:block;}
.compVis_26{display:block;}
.compVis_27{display:block;}
.compVis_28{display:block;}
.compVis_29{display:block;}
.compVis_3{display:block;}
.compVis_30{display:block;}
.compVis_4{display:block;}
.compVis_5{display:block;}
.compVis_6{display:block;}
.compVis_7{display:block;}
.compVis_8{display:block;}
.compVis_9{display:block;}
.comp_0{height:60px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:-0.3041px;}
.comp_1{background:none;background-color:transparent;border:none;height:59px;left:0px;top:0px;width:59px;}
.comp_1 .inner-box{border:none;}
.comp_10{height:356px;left:11.5px;top:1079.95px;width:401px;}
.comp_10 .wafx-img-picture{height:353px;left:0px;top:1px;width:401px;}
.comp_11{height:200px;left:0px;top:598px;width:200px;}
.comp_11 .wafx-img-picture{height:200px;left:0px;top:0px;width:200px;}
.comp_11 .wafx-img-picture-over{height:200px;left:0px;top:0px;width:200px;}
.comp_12{height:137px;left:0px;top:81.5171px;width:424px;}
.comp_12 .wafx-smt-txt-wrap{width:404px;}
.comp_13{height:184px;left:0px;top:2504px;width:424px;}
.comp_13 .wafx-smt-txt-wrap{width:404px;}
.comp_14{height:200px;left:112px;top:823.968px;width:200px;}
.comp_14 .wafx-img-picture{height:200px;left:0px;top:0px;width:200px;}
.comp_14 .wafx-img-picture-over{height:200px;left:0px;top:0px;width:200px;}
.comp_15{height:224px;left:20.5px;top:2164px;width:383px;}
.comp_15 .wafx-smt-txt-wrap{width:363px;}
.comp_16{height:181px;left:414px;top:1429.49px;width:10px;}
.comp_17{height:203px;left:0px;top:219.425px;width:425px;}
.comp_17 .wafx-img-picture{height:180px;left:0px;top:12px;width:425px;}
.comp_18{height:114px;left:0px;top:440.889px;width:424px;}
.comp_18 .wafx-smt-txt-wrap{width:404px;}
.comp_19{background-image:url(./wafx_res/Images/0-5542-bg03.png);height:328px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:94.9387px;}
.comp_2{height:263px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:5270.03px;}
.comp_20{background-image:url(./wafx_res/Images/0-2502-MOTO-tre%20%282%29.webp);height:298px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:2446.6px;}
.comp_21{height:356px;left:5.5px;top:1758px;width:401px;}
.comp_21 .wafx-img-picture{height:356px;left:12px;top:0px;width:389px;}
.comp_22{background:linear-gradient(180deg,#202123 3%,#000000 104%);;height:651px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:422.2px;}
.comp_23{height:224px;left:20.5px;top:1484px;width:383px;}
.comp_23 .wafx-smt-txt-wrap{width:363px;}
.comp_24{background:#000000;height:2530px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:2743.05px;}
.comp_25{height:405px;left:34px;top:2868.83px;width:355px;}
.comp_25 .wafx-img-picture{height:405px;left:1px;top:0px;width:354px;}
.comp_26{height:654px;left:34.5px;top:3573px;width:355px;}
.comp_26 .wafx-img-picture{height:654px;left:0px;top:0px;width:355px;}
.comp_27{height:400px;left:47.5px;top:4526px;width:355px;}
.comp_27 .wafx-img-picture{height:400px;left:0px;top:0px;width:355px;}
.comp_28{height:219px;left:34px;top:3314px;width:355px;}
.comp_28 .wafx-smt-txt-wrap{width:335px;}
.comp_29{height:219px;left:34px;top:4267px;width:355px;}
.comp_29 .wafx-smt-txt-wrap{width:335px;}
.comp_3{height:136px;left:0px;top:5334.03px;width:425px;}
.comp_3 .wafx-smt-txt-wrap{width:405px;}
.comp_30{height:219px;left:47.5px;top:4966px;width:355px;}
.comp_30 .wafx-smt-txt-wrap{width:335px;}
.comp_4{height:230px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:5533px;}
.comp_5{height:57px;left:3.16656px;top:5591.03px;width:170px;}
.comp_5 .wafx-smt-txt-wrap{width:150px;}
.comp_6{height:57px;left:250.841px;top:5591.03px;width:170px;}
.comp_6 .wafx-smt-txt-wrap{width:150px;}
.comp_7{height:57px;left:127px;top:5685.03px;width:170px;}
.comp_7 .wafx-smt-txt-wrap{width:150px;}
.comp_8{height:251px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:59px;}
.comp_9{height:200px;left:225px;top:598px;width:200px;}
.comp_9 .wafx-img-picture{height:200px;left:0px;top:0px;width:200px;}
.comp_9 .wafx-img-picture-over{height:200px;left:0px;top:0px;width:200px;}
.textShape_1024{display:none;}
.textShape_1152{display:none;}
.textShape_320{display:block;}
.textShape_425{display:none;}
.textShape_768{display:none;}
.waBlockSocialBar{display:none;}
.wafx-menunid2 .wafx-menu{display:none;}
.wafx-menunid2 .wafx-menu-bt-hamburger{display:flex;justify-content:center;}
.wafx-menunid2 .wafx-menu-bt-hamburger svg{height:59px;transform:scale(0.8);width:59px;}
.wafx-menunid2 .wafxMenuPageGroupItem{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.2);}
.wafx-menunid2 .wafxMenuPageItem{color:#002c65;font-family:'PT Sans Narrow';font-style:normal;font-weight:0;}
.wafx-menunid2 .wafxMenuPageItem:hover{background-color:#002c65;color:#ffffff;}
.wafx-menunid2.wafx-menu-frame{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.1);font-family:'PT Sans Narrow';font-size:16px;font-style:normal;font-weight:0;margin:0px;min-width:200px;padding:10px;}
.wafx-menunid2.wafx-menu-frame .wafx-menu-item{color:#002c65;padding:8px;text-decoration:none;}
.wafx-menunid2.wafx-menu-frame .wafx-menu-item:hover{background-color:#002c65;color:#ffffff;}
.wafx-menunid2.wafxBgMenu{font-size:20px;}
.wafx-vis-1024{display:none;}
.wafx-vis-1152{display:none;}
.wafx-vis-320{display:block;}
.wafx-vis-425{display:none;}
.wafx-vis-768{display:none;}
.wafxCompFluid{left:calc( 0px - (132.813vw - 425px) / 2);width:calc(132.813vw - 13.2813px);}
}
@media(min-width:425px){
.blockPage{transform:scale(1) ;transform-origin:top left;width:425px;}
.blockPagecontainer{width:425px;}
.compVis_0{display:block;}
.compVis_1{display:block;}
.compVis_10{display:block;}
.compVis_11{display:block;}
.compVis_12{display:block;}
.compVis_13{display:block;}
.compVis_14{display:block;}
.compVis_15{display:block;}
.compVis_16{display:none;}
.compVis_17{display:block;}
.compVis_18{display:block;}
.compVis_19{display:block;}
.compVis_2{display:block;}
.compVis_20{display:block;}
.compVis_21{display:block;}
.compVis_22{display:block;}
.compVis_23{display:block;}
.compVis_24{display:block;}
.compVis_25{display:block;}
.compVis_26{display:block;}
.compVis_27{display:block;}
.compVis_28{display:block;}
.compVis_29{display:block;}
.compVis_3{display:block;}
.compVis_30{display:block;}
.compVis_4{display:block;}
.compVis_5{display:block;}
.compVis_6{display:block;}
.compVis_7{display:block;}
.compVis_8{display:block;}
.compVis_9{display:block;}
.comp_0{height:60px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:-0.3041px;}
.comp_1{background:none;background-color:transparent;border:none;height:59px;left:0px;top:0px;width:59px;}
.comp_1 .inner-box{border:none;}
.comp_10{height:356px;left:11.5px;top:1079.95px;width:401px;}
.comp_10 .wafx-img-picture{height:353px;left:0px;top:1px;width:401px;}
.comp_11{height:200px;left:0px;top:598px;width:200px;}
.comp_11 .wafx-img-picture{height:200px;left:0px;top:0px;width:200px;}
.comp_11 .wafx-img-picture-over{height:200px;left:0px;top:0px;width:200px;}
.comp_12{height:137px;left:0px;top:81.5171px;width:424px;}
.comp_12 .wafx-smt-txt-wrap{width:404px;}
.comp_13{height:184px;left:0px;top:2504px;width:424px;}
.comp_13 .wafx-smt-txt-wrap{width:404px;}
.comp_14{height:200px;left:112px;top:823.968px;width:200px;}
.comp_14 .wafx-img-picture{height:200px;left:0px;top:0px;width:200px;}
.comp_14 .wafx-img-picture-over{height:200px;left:0px;top:0px;width:200px;}
.comp_15{height:224px;left:20.5px;top:2164px;width:383px;}
.comp_15 .wafx-smt-txt-wrap{width:363px;}
.comp_16{height:181px;left:414px;top:1429.49px;width:10px;}
.comp_17{height:203px;left:0px;top:219.425px;width:425px;}
.comp_17 .wafx-img-picture{height:180px;left:0px;top:12px;width:425px;}
.comp_18{height:114px;left:0px;top:440.889px;width:424px;}
.comp_18 .wafx-smt-txt-wrap{width:404px;}
.comp_19{background-image:url(./wafx_res/Images/0-5542-bg03.png);height:328px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:94.9387px;}
.comp_2{height:263px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:5270.03px;}
.comp_20{background-image:url(./wafx_res/Images/0-2502-MOTO-tre%20%282%29.webp);height:298px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:2446.6px;}
.comp_21{height:356px;left:5.5px;top:1758px;width:401px;}
.comp_21 .wafx-img-picture{height:356px;left:12px;top:0px;width:389px;}
.comp_22{background:linear-gradient(180deg,#202123 3%,#000000 104%);;height:651px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:422.2px;}
.comp_23{height:224px;left:20.5px;top:1484px;width:383px;}
.comp_23 .wafx-smt-txt-wrap{width:363px;}
.comp_24{background:#000000;height:2530px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:2743.05px;}
.comp_25{height:405px;left:34px;top:2868.83px;width:355px;}
.comp_25 .wafx-img-picture{height:405px;left:1px;top:0px;width:354px;}
.comp_26{height:654px;left:34.5px;top:3573px;width:355px;}
.comp_26 .wafx-img-picture{height:654px;left:0px;top:0px;width:355px;}
.comp_27{height:400px;left:47.5px;top:4526px;width:355px;}
.comp_27 .wafx-img-picture{height:400px;left:0px;top:0px;width:355px;}
.comp_28{height:219px;left:34px;top:3314px;width:355px;}
.comp_28 .wafx-smt-txt-wrap{width:335px;}
.comp_29{height:219px;left:34px;top:4267px;width:355px;}
.comp_29 .wafx-smt-txt-wrap{width:335px;}
.comp_3{height:136px;left:0px;top:5334.03px;width:425px;}
.comp_3 .wafx-smt-txt-wrap{width:405px;}
.comp_30{height:219px;left:47.5px;top:4966px;width:355px;}
.comp_30 .wafx-smt-txt-wrap{width:335px;}
.comp_4{height:230px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:5533px;}
.comp_5{height:57px;left:3.16656px;top:5591.03px;width:170px;}
.comp_5 .wafx-smt-txt-wrap{width:150px;}
.comp_6{height:57px;left:250.841px;top:5591.03px;width:170px;}
.comp_6 .wafx-smt-txt-wrap{width:150px;}
.comp_7{height:57px;left:127px;top:5685.03px;width:170px;}
.comp_7 .wafx-smt-txt-wrap{width:150px;}
.comp_8{height:251px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:59px;}
.comp_9{height:200px;left:225px;top:598px;width:200px;}
.comp_9 .wafx-img-picture{height:200px;left:0px;top:0px;width:200px;}
.comp_9 .wafx-img-picture-over{height:200px;left:0px;top:0px;width:200px;}
.textShape_1024{display:none;}
.textShape_1152{display:none;}
.textShape_320{display:none;}
.textShape_425{display:block;}
.textShape_768{display:none;}
.waBlockSocialBar{display:none;}
.wafx-menunid2 .wafx-menu{display:none;}
.wafx-menunid2 .wafx-menu-bt-hamburger{display:flex;justify-content:center;}
.wafx-menunid2 .wafx-menu-bt-hamburger svg{height:59px;transform:scale(0.8);width:59px;}
.wafx-menunid2 .wafxMenuPageGroupItem{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.2);}
.wafx-menunid2 .wafxMenuPageItem{color:#002c65;font-family:'PT Sans Narrow';font-style:normal;font-weight:0;}
.wafx-menunid2 .wafxMenuPageItem:hover{background-color:#002c65;color:#ffffff;}
.wafx-menunid2.wafx-menu-frame{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.1);font-family:'PT Sans Narrow';font-size:16px;font-style:normal;font-weight:0;margin:0px;min-width:200px;padding:10px;}
.wafx-menunid2.wafx-menu-frame .wafx-menu-item{color:#002c65;padding:8px;text-decoration:none;}
.wafx-menunid2.wafx-menu-frame .wafx-menu-item:hover{background-color:#002c65;color:#ffffff;}
.wafx-menunid2.wafxBgMenu{font-size:20px;}
.wafx-vis-1024{display:none;}
.wafx-vis-1152{display:none;}
.wafx-vis-320{display:none;}
.wafx-vis-425{display:block;}
.wafx-vis-768{display:none;}
.wafxCompFluid{left:calc( 0px - (100vw - 425px) / 2);width:calc(100vw - 10px);}
}
@media(min-width:768px){
.blockPage{transform:scale(1.80706) ;transform-origin:top left;width:425px;}
.blockPagecontainer{width:768px;}
.compVis_0{display:block;}
.compVis_1{display:block;}
.compVis_10{display:block;}
.compVis_11{display:block;}
.compVis_12{display:block;}
.compVis_13{display:block;}
.compVis_14{display:block;}
.compVis_15{display:block;}
.compVis_16{display:none;}
.compVis_17{display:block;}
.compVis_18{display:block;}
.compVis_19{display:block;}
.compVis_2{display:block;}
.compVis_20{display:block;}
.compVis_21{display:block;}
.compVis_22{display:block;}
.compVis_23{display:block;}
.compVis_24{display:block;}
.compVis_25{display:block;}
.compVis_26{display:block;}
.compVis_27{display:block;}
.compVis_28{display:block;}
.compVis_29{display:block;}
.compVis_3{display:block;}
.compVis_30{display:block;}
.compVis_4{display:block;}
.compVis_5{display:block;}
.compVis_6{display:block;}
.compVis_7{display:block;}
.compVis_8{display:block;}
.compVis_9{display:block;}
.comp_0{height:60px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:-0.3041px;}
.comp_1{background:none;background-color:transparent;border:none;height:59px;left:0px;top:0px;width:59px;}
.comp_1 .inner-box{border:none;}
.comp_10{height:356px;left:11.5px;top:1079.95px;width:401px;}
.comp_10 .wafx-img-picture{height:353px;left:0px;top:1px;width:401px;}
.comp_11{height:200px;left:0px;top:598px;width:200px;}
.comp_11 .wafx-img-picture{height:200px;left:0px;top:0px;width:200px;}
.comp_11 .wafx-img-picture-over{height:200px;left:0px;top:0px;width:200px;}
.comp_12{height:137px;left:0px;top:81.5171px;width:424px;}
.comp_12 .wafx-smt-txt-wrap{width:404px;}
.comp_13{height:184px;left:0px;top:2504px;width:424px;}
.comp_13 .wafx-smt-txt-wrap{width:404px;}
.comp_14{height:200px;left:112px;top:823.968px;width:200px;}
.comp_14 .wafx-img-picture{height:200px;left:0px;top:0px;width:200px;}
.comp_14 .wafx-img-picture-over{height:200px;left:0px;top:0px;width:200px;}
.comp_15{height:224px;left:20.5px;top:2164px;width:383px;}
.comp_15 .wafx-smt-txt-wrap{width:363px;}
.comp_16{height:181px;left:414px;top:1429.49px;width:10px;}
.comp_17{height:203px;left:0px;top:219.425px;width:425px;}
.comp_17 .wafx-img-picture{height:180px;left:0px;top:12px;width:425px;}
.comp_18{height:114px;left:0px;top:440.889px;width:424px;}
.comp_18 .wafx-smt-txt-wrap{width:404px;}
.comp_19{background-image:url(./wafx_res/Images/0-5542-bg03.png);height:328px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:94.9387px;}
.comp_2{height:263px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:5270.03px;}
.comp_20{background-image:url(./wafx_res/Images/0-2502-MOTO-tre%20%282%29.webp);height:298px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:2446.6px;}
.comp_21{height:356px;left:5.5px;top:1758px;width:401px;}
.comp_21 .wafx-img-picture{height:356px;left:12px;top:0px;width:389px;}
.comp_22{background:linear-gradient(180deg,#202123 3%,#000000 104%);;height:651px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:422.2px;}
.comp_23{height:224px;left:20.5px;top:1484px;width:383px;}
.comp_23 .wafx-smt-txt-wrap{width:363px;}
.comp_24{background:#000000;height:2530px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:2743.05px;}
.comp_25{height:405px;left:34px;top:2868.83px;width:355px;}
.comp_25 .wafx-img-picture{height:405px;left:1px;top:0px;width:354px;}
.comp_26{height:654px;left:34.5px;top:3573px;width:355px;}
.comp_26 .wafx-img-picture{height:654px;left:0px;top:0px;width:355px;}
.comp_27{height:400px;left:47.5px;top:4526px;width:355px;}
.comp_27 .wafx-img-picture{height:400px;left:0px;top:0px;width:355px;}
.comp_28{height:219px;left:34px;top:3314px;width:355px;}
.comp_28 .wafx-smt-txt-wrap{width:335px;}
.comp_29{height:219px;left:34px;top:4267px;width:355px;}
.comp_29 .wafx-smt-txt-wrap{width:335px;}
.comp_3{height:136px;left:0px;top:5334.03px;width:425px;}
.comp_3 .wafx-smt-txt-wrap{width:405px;}
.comp_30{height:219px;left:47.5px;top:4966px;width:355px;}
.comp_30 .wafx-smt-txt-wrap{width:335px;}
.comp_4{height:230px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:5533px;}
.comp_5{height:57px;left:3.16656px;top:5591.03px;width:170px;}
.comp_5 .wafx-smt-txt-wrap{width:150px;}
.comp_6{height:57px;left:250.841px;top:5591.03px;width:170px;}
.comp_6 .wafx-smt-txt-wrap{width:150px;}
.comp_7{height:57px;left:127px;top:5685.03px;width:170px;}
.comp_7 .wafx-smt-txt-wrap{width:150px;}
.comp_8{height:251px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:59px;}
.comp_9{height:200px;left:225px;top:598px;width:200px;}
.comp_9 .wafx-img-picture{height:200px;left:0px;top:0px;width:200px;}
.comp_9 .wafx-img-picture-over{height:200px;left:0px;top:0px;width:200px;}
.textShape_1024{display:none;}
.textShape_1152{display:none;}
.textShape_320{display:none;}
.textShape_425{display:none;}
.textShape_768{display:block;}
.waBlockSocialBar{display:none;}
.wafx-menunid2 .wafx-menu{display:none;}
.wafx-menunid2 .wafx-menu-bt-hamburger{display:flex;justify-content:center;}
.wafx-menunid2 .wafx-menu-bt-hamburger svg{height:59px;transform:scale(0.8);width:59px;}
.wafx-menunid2 .wafxMenuPageGroupItem{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.2);}
.wafx-menunid2 .wafxMenuPageItem{color:#002c65;font-family:'PT Sans Narrow';font-style:normal;font-weight:0;}
.wafx-menunid2 .wafxMenuPageItem:hover{background-color:#002c65;color:#ffffff;}
.wafx-menunid2.wafx-menu-frame{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.1);font-family:'PT Sans Narrow';font-size:16px;font-style:normal;font-weight:0;margin:0px;min-width:200px;padding:10px;}
.wafx-menunid2.wafx-menu-frame .wafx-menu-item{color:#002c65;padding:8px;text-decoration:none;}
.wafx-menunid2.wafx-menu-frame .wafx-menu-item:hover{background-color:#002c65;color:#ffffff;}
.wafx-menunid2.wafxBgMenu{font-size:20px;}
.wafx-vis-1024{display:none;}
.wafx-vis-1152{display:none;}
.wafx-vis-320{display:none;}
.wafx-vis-425{display:none;}
.wafx-vis-768{display:block;}
.wafxCompFluid{left:calc( 0px - (55.3385vw - 425px) / 2);width:calc(55.3385vw - 5.53385px);}
}
@media(min-width:1024px){
.blockPage{transform:scale(0.888889) ;transform-origin:top left;width:1152px;}
.blockPagecontainer{width:1024px;}
.compVis_0{display:block;}
.compVis_1{display:block;}
.compVis_10{display:block;}
.compVis_11{display:block;}
.compVis_12{display:block;}
.compVis_13{display:block;}
.compVis_14{display:block;}
.compVis_15{display:block;}
.compVis_16{display:block;}
.compVis_17{display:block;}
.compVis_18{display:block;}
.compVis_19{display:block;}
.compVis_2{display:block;}
.compVis_20{display:block;}
.compVis_21{display:block;}
.compVis_22{display:block;}
.compVis_23{display:block;}
.compVis_24{display:block;}
.compVis_25{display:block;}
.compVis_26{display:block;}
.compVis_27{display:block;}
.compVis_28{display:block;}
.compVis_29{display:block;}
.compVis_3{display:block;}
.compVis_30{display:block;}
.compVis_4{display:block;}
.compVis_5{display:block;}
.compVis_6{display:block;}
.compVis_7{display:block;}
.compVis_8{display:block;}
.compVis_9{display:block;}
.comp_0{height:48px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:0px;}
.comp_1{background-color:#002c65;border:1px solid #002c65;border-radius:0px;height:47px;left:0px;margin:-1px;top:0.5px;width:1152px;}
.comp_1 .inner-box{border:1px solid #002c65;border-radius:0px;height:calc(100% - 2px);left:1px;margin:-1px;position:absolute;top:1px;width:calc(100% - 2px);z-index:-1;}
.comp_10{height:490px;left:0px;top:1304px;width:556px;}
.comp_10 .wafx-img-picture{height:490px;left:0px;top:0px;width:555px;}
.comp_11{height:350px;left:0px;top:847.667px;width:350px;}
.comp_11 .wafx-img-picture{height:350px;left:0px;top:0px;width:350px;}
.comp_11 .wafx-img-picture-over{height:350px;left:0px;top:0px;width:350px;}
.comp_12{height:81px;left:48.5px;top:78.5671px;width:1055px;}
.comp_12 .wafx-smt-txt-wrap{width:1035px;}
.comp_13{height:81px;left:48.5px;top:2475.5px;width:1055px;}
.comp_13 .wafx-smt-txt-wrap{width:1035px;}
.comp_14{height:350px;left:802px;top:848px;width:350px;}
.comp_14 .wafx-img-picture{height:350px;left:0px;top:0px;width:350px;}
.comp_14 .wafx-img-picture-over{height:350px;left:0px;top:0px;width:350px;}
.comp_15{height:208px;left:15px;top:1945px;width:540px;}
.comp_15 .wafx-smt-txt-wrap{width:520px;}
.comp_16{height:1000px;left:555px;top:1303.5px;width:41px;}
.comp_17{height:418px;left:103.588px;top:163.55px;width:945px;}
.comp_17 .wafx-img-picture{height:401px;left:0px;top:8px;width:945px;}
.comp_18{height:126px;left:355.5px;top:639.168px;width:441px;}
.comp_18 .wafx-smt-txt-wrap{width:421px;}
.comp_19{background-image:url(./wafx_res/Images/0-9108-bg03.png);height:539px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:88.3667px;}
.comp_2{height:177px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:3906.24px;}
.comp_20{background-image:url(./wafx_res/Images/0-4106-MOTO-tre%20%282%29.webp);height:489px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:2310.8px;}
.comp_21{height:509px;left:594px;top:1794.5px;width:558px;}
.comp_21 .wafx-img-picture{height:509px;left:2px;top:0px;width:556px;}
.comp_22{background:linear-gradient(180deg,#202123 3%,#000000 104%);;height:669px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:626.809px;}
.comp_23{height:208px;left:596px;top:1445px;width:540px;}
.comp_23 .wafx-smt-txt-wrap{width:520px;}
.comp_24{background:#000000;height:1109px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:2797.75px;}
.comp_25{height:381px;left:49.1916px;top:2958.19px;width:335px;}
.comp_25 .wafx-img-picture{height:381px;left:1px;top:0px;width:333px;}
.comp_26{height:617px;left:408px;top:2958.19px;width:335px;}
.comp_26 .wafx-img-picture{height:617px;left:0px;top:0px;width:335px;}
.comp_27{height:377px;left:768px;top:2958.19px;width:335px;}
.comp_27 .wafx-img-picture{height:377px;left:0px;top:0px;width:335px;}
.comp_28{height:215px;left:38.5px;top:3389px;width:335px;}
.comp_28 .wafx-smt-txt-wrap{width:315px;}
.comp_29{height:215px;left:408px;top:3625px;width:335px;}
.comp_29 .wafx-smt-txt-wrap{width:315px;}
.comp_3{height:85px;left:207.5px;top:3951.9px;width:737px;}
.comp_3 .wafx-smt-txt-wrap{width:717px;}
.comp_30{height:215px;left:768px;top:3385px;width:335px;}
.comp_30 .wafx-smt-txt-wrap{width:315px;}
.comp_4{height:88px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:4082px;}
.comp_5{height:47px;left:111.4px;top:4105.8px;width:160px;}
.comp_5 .wafx-smt-txt-wrap{width:140px;}
.comp_6{height:46px;left:496px;top:4105.8px;width:160px;}
.comp_6 .wafx-smt-txt-wrap{width:140px;}
.comp_7{height:52px;left:880.6px;top:4105.8px;width:160px;}
.comp_7 .wafx-smt-txt-wrap{width:140px;}
.comp_8{height:393px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:47.8365px;}
.comp_9{height:350px;left:401px;top:848px;width:350px;}
.comp_9 .wafx-img-picture{height:350px;left:0px;top:0px;width:350px;}
.comp_9 .wafx-img-picture-over{height:350px;left:0px;top:0px;width:350px;}
.textShape_1024{display:block;}
.textShape_1152{display:none;}
.textShape_320{display:none;}
.textShape_425{display:none;}
.textShape_768{display:none;}
.waBlockSocialBar{display:none;}
.wafx-menunid2 .wafx-menu{display:flex;font-size:20px;}
.wafx-menunid2 .wafx-menu-bt-hamburger{display:none;justify-content:center;}
.wafx-menunid2 .wafx-menu-bt-hamburger svg{height:47px;transform:scale(0.8);width:47px;}
.wafx-menunid2 .wafxMenuPageGroupItem{background-color:#006ffc;box-shadow:10px 10px 5px rgba(0,0,0,0.2);}
.wafx-menunid2 .wafxMenuPageItem{color:#ffffff;font-family:'PT Sans Narrow';font-style:normal;font-weight:0;}
.wafx-menunid2 .wafxMenuPageItem:hover{background-color:#004397;color:#ffffff;}
.wafx-menunid2.wafx-menu-frame{background-color:#006ffc;box-shadow:10px 10px 5px rgba(0,0,0,0.1);font-family:'PT Sans Narrow';font-size:18px;font-style:normal;font-weight:0;margin:0px;min-width:200px;padding:10px;}
.wafx-menunid2.wafx-menu-frame .wafx-menu-item{color:#ffffff;padding:8px;text-decoration:none;}
.wafx-menunid2.wafx-menu-frame .wafx-menu-item:hover{background-color:#004397;color:#ffffff;}
.wafx-menunid2.wafxBgMenu{font-size:20px;}
.wafx-vis-1024{display:block;}
.wafx-vis-1152{display:none;}
.wafx-vis-320{display:none;}
.wafx-vis-425{display:none;}
.wafx-vis-768{display:none;}
.wafxCompFluid{left:calc( 0px - (112.5vw - 1152px) / 2);width:calc(112.5vw - 11.25px);}
}
@media(min-width:1153px){
.blockPage{transform:scale(1) ;transform-origin:top left;width:1152px;}
.blockPagecontainer{width:1152px;}
.compVis_0{display:block;}
.compVis_1{display:block;}
.compVis_10{display:block;}
.compVis_11{display:block;}
.compVis_12{display:block;}
.compVis_13{display:block;}
.compVis_14{display:block;}
.compVis_15{display:block;}
.compVis_16{display:block;}
.compVis_17{display:block;}
.compVis_18{display:block;}
.compVis_19{display:block;}
.compVis_2{display:block;}
.compVis_20{display:block;}
.compVis_21{display:block;}
.compVis_22{display:block;}
.compVis_23{display:block;}
.compVis_24{display:block;}
.compVis_25{display:block;}
.compVis_26{display:block;}
.compVis_27{display:block;}
.compVis_28{display:block;}
.compVis_29{display:block;}
.compVis_3{display:block;}
.compVis_30{display:block;}
.compVis_4{display:block;}
.compVis_5{display:block;}
.compVis_6{display:block;}
.compVis_7{display:block;}
.compVis_8{display:block;}
.compVis_9{display:block;}
.comp_0{height:48px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:0px;}
.comp_1{background-color:#002c65;border:1px solid #002c65;border-radius:0px;height:47px;left:0px;margin:-1px;top:0.5px;width:1152px;}
.comp_1 .inner-box{border:1px solid #002c65;border-radius:0px;height:calc(100% - 2px);left:1px;margin:-1px;position:absolute;top:1px;width:calc(100% - 2px);z-index:-1;}
.comp_10{height:490px;left:0px;top:1304px;width:556px;}
.comp_10 .wafx-img-picture{height:490px;left:0px;top:0px;width:555px;}
.comp_11{height:350px;left:0px;top:847.667px;width:350px;}
.comp_11 .wafx-img-picture{height:350px;left:0px;top:0px;width:350px;}
.comp_11 .wafx-img-picture-over{height:350px;left:0px;top:0px;width:350px;}
.comp_12{height:81px;left:48.5px;top:78.5671px;width:1055px;}
.comp_12 .wafx-smt-txt-wrap{width:1035px;}
.comp_13{height:81px;left:48.5px;top:2475.5px;width:1055px;}
.comp_13 .wafx-smt-txt-wrap{width:1035px;}
.comp_14{height:350px;left:802px;top:848px;width:350px;}
.comp_14 .wafx-img-picture{height:350px;left:0px;top:0px;width:350px;}
.comp_14 .wafx-img-picture-over{height:350px;left:0px;top:0px;width:350px;}
.comp_15{height:208px;left:15px;top:1945px;width:540px;}
.comp_15 .wafx-smt-txt-wrap{width:520px;}
.comp_16{height:1000px;left:555px;top:1303.5px;width:41px;}
.comp_17{height:418px;left:103.588px;top:163.55px;width:945px;}
.comp_17 .wafx-img-picture{height:401px;left:0px;top:8px;width:945px;}
.comp_18{height:126px;left:355.5px;top:639.168px;width:441px;}
.comp_18 .wafx-smt-txt-wrap{width:421px;}
.comp_19{background-image:url(./wafx_res/Images/0-9108-bg03.png);height:539px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:88.3667px;}
.comp_2{height:177px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:3906.24px;}
.comp_20{background-image:url(./wafx_res/Images/0-4106-MOTO-tre%20%282%29.webp);height:489px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:2310.8px;}
.comp_21{height:509px;left:594px;top:1794.5px;width:558px;}
.comp_21 .wafx-img-picture{height:509px;left:2px;top:0px;width:556px;}
.comp_22{background:linear-gradient(180deg,#202123 3%,#000000 104%);;height:669px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:626.809px;}
.comp_23{height:208px;left:596px;top:1445px;width:540px;}
.comp_23 .wafx-smt-txt-wrap{width:520px;}
.comp_24{background:#000000;height:1109px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:2797.75px;}
.comp_25{height:381px;left:49.1916px;top:2958.19px;width:335px;}
.comp_25 .wafx-img-picture{height:381px;left:1px;top:0px;width:333px;}
.comp_26{height:617px;left:408px;top:2958.19px;width:335px;}
.comp_26 .wafx-img-picture{height:617px;left:0px;top:0px;width:335px;}
.comp_27{height:377px;left:768px;top:2958.19px;width:335px;}
.comp_27 .wafx-img-picture{height:377px;left:0px;top:0px;width:335px;}
.comp_28{height:215px;left:38.5px;top:3389px;width:335px;}
.comp_28 .wafx-smt-txt-wrap{width:315px;}
.comp_29{height:215px;left:408px;top:3625px;width:335px;}
.comp_29 .wafx-smt-txt-wrap{width:315px;}
.comp_3{height:85px;left:207.5px;top:3951.9px;width:737px;}
.comp_3 .wafx-smt-txt-wrap{width:717px;}
.comp_30{height:215px;left:768px;top:3385px;width:335px;}
.comp_30 .wafx-smt-txt-wrap{width:315px;}
.comp_4{height:88px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:4082px;}
.comp_5{height:47px;left:111.4px;top:4105.8px;width:160px;}
.comp_5 .wafx-smt-txt-wrap{width:140px;}
.comp_6{height:46px;left:496px;top:4105.8px;width:160px;}
.comp_6 .wafx-smt-txt-wrap{width:140px;}
.comp_7{height:52px;left:880.6px;top:4105.8px;width:160px;}
.comp_7 .wafx-smt-txt-wrap{width:140px;}
.comp_8{height:393px;margin-left:auto;margin-right:auto;padding-left:0px;padding-right:0px;top:47.8365px;}
.comp_9{height:350px;left:401px;top:848px;width:350px;}
.comp_9 .wafx-img-picture{height:350px;left:0px;top:0px;width:350px;}
.comp_9 .wafx-img-picture-over{height:350px;left:0px;top:0px;width:350px;}
.textShape_1024{display:none;}
.textShape_1152{display:block;}
.textShape_320{display:none;}
.textShape_425{display:none;}
.textShape_768{display:none;}
.waBlockSocialBar{display:none;}
.wafx-menunid2 .wafx-menu{display:flex;font-size:20px;}
.wafx-menunid2 .wafx-menu-bt-hamburger{display:none;justify-content:center;}
.wafx-menunid2 .wafx-menu-bt-hamburger svg{height:47px;transform:scale(0.8);width:47px;}
.wafx-menunid2 .wafxMenuPageGroupItem{background-color:#006ffc;box-shadow:10px 10px 5px rgba(0,0,0,0.2);}
.wafx-menunid2 .wafxMenuPageItem{color:#ffffff;font-family:'PT Sans Narrow';font-style:normal;font-weight:0;}
.wafx-menunid2 .wafxMenuPageItem:hover{background-color:#004397;color:#ffffff;}
.wafx-menunid2.wafx-menu-frame{background-color:#006ffc;box-shadow:10px 10px 5px rgba(0,0,0,0.1);font-family:'PT Sans Narrow';font-size:18px;font-style:normal;font-weight:0;margin:0px;min-width:200px;padding:10px;}
.wafx-menunid2.wafx-menu-frame .wafx-menu-item{color:#ffffff;padding:8px;text-decoration:none;}
.wafx-menunid2.wafx-menu-frame .wafx-menu-item:hover{background-color:#004397;color:#ffffff;}
.wafx-menunid2.wafxBgMenu{font-size:20px;}
.wafx-vis-1024{display:none;}
.wafx-vis-1152{display:block;}
.wafx-vis-320{display:none;}
.wafx-vis-425{display:none;}
.wafx-vis-768{display:none;}
.wafxCompFluid{left:calc( 0px - (100vw - 1152px) / 2);width:calc(100vw - 10px);}
}

@media(max-width:330px){
.wafxCompFluid{
left:0px;
width:320px;
}
}
.smt-para-wa-4{
margin:10px !important;align-self:center !important;
}
.smt-wa-4-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:20px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:400;font-style:normal;font-family:'PT Sans Narrow';font-size:32px;
}
.smt-wa-4-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-4-block-1{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:130%;text-align:center;font-weight:400;font-style:normal;font-family:'Arial';font-size:16px;
}
.smt-wa-4-block-1 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-6{
margin:10px !important;align-self:flex-start !important;
}
.smt-wa-6-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:140%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
.smt-wa-6-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-7{
margin:10px !important;align-self:flex-start !important;
}
.smt-wa-7-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:140%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
.smt-wa-7-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-8{
margin:10px !important;align-self:flex-start !important;
}
.smt-wa-8-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:140%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
.smt-wa-8-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-13{
margin:10px !important;align-self:flex-start !important;
}
.smt-wa-13-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:700;font-style:italic;font-family:'Lucida Sans';font-size:56px;
}
.smt-wa-13-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-14{
margin:10px !important;align-self:center !important;
}
.smt-wa-14-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:700;font-style:italic;font-family:'Lucida Sans';font-size:56px;
}
.smt-wa-14-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-16{
margin:10px !important;align-self:center !important;
}
.smt-wa-16-block-0{
color:#c22a20;margin:0px;padding:0px;margin-bottom:30px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:700;font-style:normal;font-family:'Arial';font-size:18px;
}
.smt-wa-16-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-16-block-1{
color:#c22a20;margin:0px;padding:0px;margin-bottom:15px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:700;font-style:normal;font-family:'Roboto Condensed';font-size:38px;
}
.smt-wa-16-block-1 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-16-block-2{
color:#000000;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:140%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:18px;
}
.smt-wa-16-block-2 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-19{
margin:10px !important;align-self:flex-start !important;
}
.smt-wa-19-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:400;font-style:normal;font-family:'Arial';font-size:32px;
}
.smt-wa-19-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-19-block-1{
color:#c22a20;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:700;font-style:normal;font-family:'Roboto Condensed';font-size:56px;
}
.smt-wa-19-block-1 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-24{
margin:10px !important;align-self:center !important;
}
.smt-wa-24-block-0{
color:#c22a20;margin:0px;padding:0px;margin-bottom:30px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:700;font-style:normal;font-family:'Arial';font-size:18px;
}
.smt-wa-24-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-24-block-1{
color:#c22a20;margin:0px;padding:0px;margin-bottom:15px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:700;font-style:normal;font-family:'Roboto Condensed';font-size:38px;
}
.smt-wa-24-block-1 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-24-block-2{
color:#000000;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:140%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:18px;
}
.smt-wa-24-block-2 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-29{
margin:10px !important;align-self:flex-start !important;
}
.smt-wa-29-block-0{
color:#e0e0e0;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:20px;
}
.smt-wa-29-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-29-block-1{
color:#ffffff;margin:0px;padding:0px;margin-bottom:20px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:700;font-style:normal;font-family:'Verdana';font-size:18px;
}
.smt-wa-29-block-1 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-29-block-2{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:140%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:16px;
}
.smt-wa-29-block-2 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-30{
margin:10px !important;align-self:flex-start !important;
}
.smt-wa-30-block-0{
color:#e0e0e0;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:20px;
}
.smt-wa-30-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-30-block-1{
color:#ffffff;margin:0px;padding:0px;margin-bottom:20px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:700;font-style:normal;font-family:'Verdana';font-size:18px;
}
.smt-wa-30-block-1 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-30-block-2{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:140%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:16px;
}
.smt-wa-30-block-2 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-31{
margin:10px !important;align-self:flex-start !important;
}
.smt-wa-31-block-0{
color:#e0e0e0;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:20px;
}
.smt-wa-31-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-31-block-1{
color:#ffffff;margin:0px;padding:0px;margin-bottom:20px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:700;font-style:normal;font-family:'Verdana';font-size:18px;
}
.smt-wa-31-block-1 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-31-block-2{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:140%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:16px;
}
.smt-wa-31-block-2 a{
color:#0000ff !important;text-decoration:underline !important;}

