h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_7d35d100 a { text-decoration: none; }
#menu_7d35d100_pane { background-color: #013A74; border: 1px solid #FFFFFF; padding-top: 25px; padding-bottom: 25px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_7d35d100_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_7d35d100_entry { padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; }
#menu_7d35d100_entry:hover { background-color: #FF8000; color: #FFFFFF !important; }
#menu_7d35d100_entry:hover span { color:#FFFFFF !important; }
		.menu_7d35d100_mainMenuEntry { text-align: center; }
		.menu_7d35d100_mainMenuEntry:hover {	background-color:#FF8000; }
		.menu_7d35d100_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_7d35d100 .mobileEntry { display: none; } 
		#menu_7d35d100 .normalEntry { display: block; } 
		@media only screen and (max-width:669px) { 
			#menu_7d35d100 .mobileEntry { display: block; } 
			#menu_7d35d100 .normalEntry { display: none; } 
		}
#rcCartModelBlockOverlay { position:fixed; background:#33333357; width:100vw; height:100vw; top:0; left:0; }
#rcCartBadge   { top:-5px; right:-5px; background:#858585; color:white; border-radius:50%; padding:2px 6px; font-size:12px; margin: 0px 0px 0px 5px; display:none; }
#rcCartOverlay, #rcCheckoutOverlay, #rcCommunicationOverlay  { z-index: 200; display: block; background-color: #ffffff; padding: 20px; box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.196078); position: fixed; top: 10%; left: 50%; transform: translate(-50%, 0%); width: min(400px, 90%); height: auto; font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
#rcCartOverlay h2, #rcCheckoutOverlay h2 { display: inline-block; margin: 0px 10px 20px 0px }
.rcCartPriceSection { float: right; }
@keyframes rcCartAnimKeyframes { 0%  { opacity: 0.05; }	100% { opacity: 1; } } 
.rcCartAnim { animation-name:rcCartAnimKeyframes; animation-delay:0ms; animation-duration:500ms; animation-iteration-count:1; animation-timing-function:ease; animation-direction:normal; animation-fill-mode:none; }
.rcCartButton:hover { background-color: #c6c6c6 !important; color: #525252 !important; } 
.rcCartCheckoutButton { border-radius: 20px; border: none; background-color: #5262db; color: #ffffff; font-weight: normal; padding: 10px; } 
.rcCartCheckoutButton:hover { background-color: #7e89e1; color: #ffffff; } 
.rcCartRoundButton { min-height: 32px; min-width: 32px; border-radius:45px; font-size: 20px; border: none; color: #000000; text-decoration:none; background-color: #d6d6d6; display: inline; cursor: default; white-space: nowrap; display: inline-block; } 
.rcCartRoundButton:hover { color: #000000; background-color: #eeeeee; } 
.rcCartCloseButton { float: right; position: absolute; right: 2px; top: 4px; } 
.rcCartOrderText { background-color: #e3e3e3; margin: 10px; padding: 10px; } 
#rcCheckoutOverlay input { height: 25px; }
#mmm {
    top: 56px;
}
body { background:none; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_53797471 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:108px; background-color:#FFFFFF;  }
#container_53797471_padding { margin: 20px 10px 20px 10px; display: block;  }
.textstyle2 { text-align:left; }
#text_250423ca { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:81px; background:none;  }
.textstyle3 { font-size:40pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000; font-weight:bold;  }
#text_24e3eb05 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:25px; background:none;  }
.textstyle4 { font-size:18pt; font-family:'Lucida Console', Monaco, monospace; color:#FFA925; font-weight:bold;  }
#container_650abe15 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background-color:#013A74; border-top: 2px solid #FFA925; border-left: none; border-right: none; border-bottom: 2px solid #FFA925;  }
#container_650abe15_padding { margin: 0px 10px 0px 10px; display: block;  }
#menu_7d35d100 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:90%; height:55px; text-align:left; background-color:#013A74;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:105px; height:55px; left:25px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:39px;  }
.textstyle5 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle2 { position:absolute; width:111px; height:55px; left:25px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:27px;  }
.textstyle6 { font-size:16pt; font-family:'PT Sans Narrow'; color:#FFFFFF;  white-space: nowrap; }
.menustyle3 { position:absolute; width:105px; height:55px; left:136px;  }
.menustyle4 { position:absolute; width:142px; height:55px; left:241px;  }
.menustyle5 { position:absolute; width:105px; height:55px; left:383px;  }
#img_19f446e8 { vertical-align: bottom; position:relative; display: inline-block; width:32px; background:none; height:auto;  }
#img_7d5b9fe0 { vertical-align: bottom; position:relative; display: inline-block; width:32px; background:none; height:auto;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#shapedivider_5ef93a62 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:31px; background-color:#004000;  }
#shapedivider_5ef93a62_padding { margin: 10px; display: block; position: relative;  }
#placeh_450824da { vertical-align: top; position:relative; display: inline-block; width:100%;  }
#container_2823f0b8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:384px; background-color:#FFFFFF; background-image: url(foto/head_bg_1200x605.webp); background-position:center center; background-size:cover;  }
#container_2823f0b8_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_5d6f4aff { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:134px; max-width:1280px; background:none;  }
#container_5d6f4aff_padding { margin: 10px; display: block;  }
#container_6322fe62 { vertical-align: top; position:relative; display: inline-block; width:50%; background:none;  }
#container_6322fe62_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFF00;  }
#heading_16337b5f { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
.textstyle10 { text-align:center;display: block }
.textstyle11 { font-size:60pt; font-family:'PT Sans Narrow'; color:#0080FF;  }
.textstyle12 { font-size:44pt; font-family:'PT Sans Narrow'; color:#0080FF;  }
.textstyle13 { font-size:32pt; font-family:'PT Sans Narrow'; color:#FFFF00;  }
.textstyle14 { text-align:left;display: block }
#container_52958ea5 { vertical-align: top; position:relative; display: inline-block; width:4%; min-height:41px; background:none;  }
#container_52958ea5_padding { margin: 10px; display: block;  }
#container_7446523 { vertical-align: top; position:relative; display: inline-block; width:42%; background:none;  }
#container_7446523_padding { margin: 10px; display: block;  }
#container_60fd7768 { vertical-align: top; border-radius: 3px; position:relative; display: inline-block; width:100%; min-height:150px; background-color:rgba(255, 255, 255, 0.698039);  }
#container_60fd7768_padding { margin: 10px; display: block;  }
#container_6598e7fb { vertical-align: top; border-radius: 3px; position:relative; display: inline-block; width:100%; min-height:121px; background-color:#0000FF;  }
#container_6598e7fb_padding { margin: 10px; display: block;  }
#text_7883ba7c { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
.textstyle15 { font-size:22pt; font-family:'PT Sans Narrow'; color:#FF8000; line-height: 1.5;  }
.textstyle16 { font-size:22pt; font-family:'PT Sans Narrow'; color:#FFFFFF; line-height: 1.5;  }
#container_7adcf17b { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:317px; background-color:#EBEBEB;  }
#container_7adcf17b_padding { margin: 10px; display: block;  }
.textstyle17 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#text_7834793e { vertical-align: bottom; position:relative; display: inline-block; max-width:1000px; background:none;  }
.textstyle18 { font-size:32pt; font-family:'PT Sans Narrow'; color:#004080; line-height: 1.5;  }
.textstyle19 { font-size:32pt; font-family:'PT Sans Narrow'; color:#000000; line-height: 1.5;  }
.textstyle20 { text-align:justify; }
.textstyle21 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; line-height: 1.5;  }
.textstyle22 { font-size:13pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; line-height: 1.5;  }
.ulstyle1 { margin:0; font-size: 12pt; color:#000000;  }
#container_193e5a5a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:518px; background-color:#EBEBEB;  }
#container_193e5a5a_padding { margin: 10px; display: block;  }
#container_4ab48a4b { vertical-align: top; border-radius: 5px; position:relative; display: inline-block; width:32%; min-height:346px; background-color:#FFFFFF; background-image: url(foto/price_akril.webp); background-position:top left; background-size:cover;  }
#container_4ab48a4b_padding { margin: 10px; display: block;  }
#container_21c85519 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:365px; background-color:rgba(0, 64, 64, 0.74902);  }
#container_21c85519_padding { margin: 10px; display: block;  }
#text_5c17f023 { box-sizing: border-box; vertical-align: bottom; border-radius: 3px; position:relative; display: inline-block; width:90%; background:none; border: 2px solid #FFFFFF;  }
#text_5c17f023_padding { margin: 10px 0px 10px 0px; display: block;  }
.textstyle23 { font-size:26pt; font-family:'PT Sans Narrow'; color:#FFFFFF; line-height: 2.0;  }
.textstyle24 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; line-height: 2.0;  }
.textstyle25 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; line-height: 2.0;  }
.textstyle26 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFF00; font-weight:bold;  }
#text_19252999 { box-sizing: border-box; vertical-align: bottom; border-radius: 3px; position:relative; display: inline-block; width:90%; background:none; border: 2px solid #FFFFFF;  }
#text_19252999_padding { margin: 10px 0px 10px 0px; display: block;  }
.textstyle27 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3a195145 { vertical-align: top; position:relative; display: inline-block; width:10%; min-height:60px; background:none;  }
#container_3a195145_padding { margin: 10px; display: block;  }
#container_31ecf81 { vertical-align: top; border-radius: 5px; position:relative; display: inline-block; width:32%; min-height:346px; background-color:#FFFFFF; background-image: url(foto/price_emalirovka.webp); background-position:top left; background-size:cover;  }
#container_31ecf81_padding { margin: 10px; display: block;  }
#container_7d7328db { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:365px; background-color:rgba(0, 64, 64, 0.74902);  }
#container_7d7328db_padding { margin: 10px; display: block;  }
#text_6c716894 { box-sizing: border-box; vertical-align: bottom; border-radius: 3px; position:relative; display: inline-block; width:90%; background:none; border: 2px solid #FFFFFF;  }
#text_6c716894_padding { margin: 10px 0px 10px 0px; display: block;  }
#text_789175cb { box-sizing: border-box; vertical-align: bottom; border-radius: 3px; position:relative; display: inline-block; width:90%; background:none; border: 2px solid #FFFFFF;  }
#text_789175cb_padding { margin: 10px 0px 10px 0px; display: block;  }
#container_50c906c2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#000040;  }
#container_50c906c2_padding { margin: 10px; display: block;  }
#container_12dee79e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1280px; background:none;  }
#container_12dee79e_padding { margin: 20px; display: block;  }
.textstyle28 { font-size:26pt; font-family:'PT Sans Narrow'; color:#00FF80; font-weight:bold;  }
.textstyle29 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle30 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#FFFFFF;  }
#container_79dff3b4 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_79dff3b4_padding { margin: 10px; display: block;  }
.textstyle31 { font-size:14pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#00FF80; font-weight:bold;  }
.textstyle32 { font-size:12pt; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#000000;  }
#container_2bc926a0 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_2bc926a0_padding { margin: 10px; display: block;  }
#container_15f9c727 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_15f9c727_padding { margin: 10px; display: block;  }
.textstyle33 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#jscript_2424bc03 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
@media only screen and (max-width: 650px)
{
		#container_79dff3b4 { width:100%;  }
		#container_2bc926a0 { width:100%;  }
		#container_15f9c727 { width:100%;  }
}
@media only screen and (max-width: 640px)
{
		#container_53797471 * span { font-size:33pt;  }
		#text_250423ca * span { font-size:33pt;  }
		#text_24e3eb05 * span { font-size:16pt;  }
}
@media only screen and (max-width: 1024px)
{
		#container_4ab48a4b { width:45%;  }
		#container_3a195145 { width:10%;  }
		#container_31ecf81 { width:45%;  }
}
@media only screen and (max-width: 800px)
{
		#container_4ab48a4b { width:80%;  }
		#container_3a195145 { width:100%;  }
		#container_31ecf81 { width:80%;  }
}
@media only screen and (max-width: 700px)
{
		#container_2823f0b8 * span { font-size:5pt;  }
		#container_6322fe62 { width:100%; min-height:100px;  }
		#heading_16337b5f * span { font-size:35pt;  }
		#heading_16337b5f { .textstyle13 { font-size:25pt; } }
		#container_52958ea5 { width:100%;  }
		#container_7446523 { width:100%;  }
		#text_7883ba7c * span { font-size:22pt;  }
}
@media only screen and (max-width: 500px)
{
		#container_4ab48a4b { width:100%;  }
		#container_31ecf81 { width:100%;  }
}
