.u-section-1 .u-sheet-1 {min-height: 724px}
.u-section-1 .u-shape-1 {width: 770px; height: 723px; margin: 0 86px 0 auto}
.u-section-1 .u-image-1 {height: 619px; width: 1140px; margin: -671px auto 0 0}
.u-section-1 .u-group-1 {width: 679px; min-height: 439px; height: auto; margin: -529px 0 70px auto}
.u-section-1 .u-container-layout-1 {padding-left: 35px; padding-right: 32px}
.u-section-1 .u-text-1 {font-size: 6rem; margin: 56px 0 0}
.u-section-1 .u-text-2 {font-size: 1.5rem; margin: 20px 0 39px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 550px}
.u-section-1 .u-shape-1 {width: 634px; height: 672px; margin-right: 72px}
.u-section-1 .u-image-1 {height: 548px; object-position: 28.82% 50%; background-position: 28.82% 50%; margin-top: -620px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-group-1 {width: 560px; margin-top: -512px; margin-right: 1px; margin-bottom: 75px}
.u-section-1 .u-container-layout-1 {padding-left: 29px; padding-right: 26px}
.u-section-1 .u-text-1 {font-size: 4.5rem; margin-top: 83px}
.u-section-1 .u-text-2 {font-size: 1.25rem; margin-bottom: 83px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 453px}
.u-section-1 .u-shape-1 {width: 486px; left: auto; right: 44px; margin-right: 0; margin-left: 0; margin-top: initial; margin-bottom: initial; height: auto}
.u-section-1 .u-image-1 {height: 451px; object-position: 9.97% 50%; background-position: 9.97% 50%; margin-top: 52px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {width: 406px; min-height: 336px; margin-top: -394px; margin-right: 0; margin-bottom: 70px}
.u-section-1 .u-container-layout-1 {padding-left: 18px; padding-right: 17px}
.u-section-1 .u-text-1 {font-size: 3.75rem; margin-top: 35px}
.u-section-1 .u-text-2 {font-size: 1.125rem; margin-bottom: 35px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 345px}
.u-section-1 .u-shape-1 {width: 456px; right: 21px; height: auto; margin-top: initial; margin-bottom: initial}
.u-section-1 .u-image-1 {height: 343px; margin-top: 20px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {width: 273px; min-height: 316px; margin-top: -330px; margin-right: 21px; margin-bottom: 69px}
.u-section-1 .u-container-layout-1 {padding-left: 9px; padding-right: 8px}
.u-section-1 .u-text-1 {font-size: 2.25rem}
.u-section-1 .u-text-2 {margin-bottom: 0} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 342px}
.u-section-1 .u-shape-1 {width: 314px; left: 0; right: auto; height: auto; margin-top: initial; margin-bottom: initial}
.u-section-1 .u-image-1 {height: 340px; margin-top: 0; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {min-height: 399px; margin: -34px auto 89px 21px}
.u-section-1 .u-container-layout-1 {padding-left: 16px; padding-right: 14px} }.u-section-2 {background-image: none}
.u-section-2 .u-shape-1 {height: 196px; margin-top: 1003px; margin-bottom: 0; margin-left: 0; width: 1460px}
.u-section-2 .u-sheet-1 {min-height: 1199px; margin: -1199px auto 0}
.u-section-2 .u-shape-2 {width: 770px; height: 1209px; margin: -10px 86px 0 auto}
.u-section-2 .u-image-1 {width: 669px; height: 385px; margin: -1300px 39px 0 auto}
.u-section-2 .u-group-1 {width: 534px; min-height: 632px; height: auto; background-image: none; margin: -61px auto 0 20px}
.u-section-2 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-text-1 {text-transform: none; font-weight: normal; margin: 53px 0 0}
.u-section-2 .u-text-2 {font-weight: normal; font-size: 2.25rem; margin: 13px 0 0}
.u-section-2 .u-text-3 {margin: 53px 0 0}
.u-section-2 .u-btn-1 {font-weight: 700; background-image: none; margin: 89px auto 65px 0}
.u-section-2 .u-group-2 {width: 295px; min-height: 253px; height: auto; margin: -558px 87px 0 auto}
.u-section-2 .u-container-layout-2 {padding-left: 0; padding-right: 20px}
.u-section-2 .u-text-4 {margin: 60px 0 0}
.u-section-2 .u-text-5 {font-size: 1.125rem; font-style: italic; margin: 20px 0 25px}
.u-section-2 .u-image-2 {width: 270px; height: 271px; margin: 305px auto 0 284px}
.u-section-2 .u-layout-wrap-1 {width: 382px; margin: -576px 0 120px auto}
.u-section-2 .u-image-3 {min-height: 173px; background-image: url("images/1.jpg")}
.u-section-2 .u-image-4 {background-image: url("images/Untitled4.jpg"); min-height: 173px; background-position: 50% 50%}
.u-section-2 .u-image-5 {background-image: url("images/fe2467310eefa5fc864cd6ab8ce88531.jpg"); min-height: 173px; background-position: 50% 50%}
.u-section-2 .u-image-6 {background-image: url("images/2.jpg"); min-height: 173px; background-position: 50% 50%}
.u-section-2 .u-image-7 {background-image: url("images/Untitled5.jpg"); min-height: 173px; background-position: 50% 50%}
.u-section-2 .u-image-8 {background-image: url("images/technology_default_2.jpg"); min-height: 173px; background-position: 50% 50%} 

@media (max-width: 1199px){ .u-section-2 .u-shape-1 {margin-top: 1055px; margin-left: initial; width: auto}
.u-section-2 .u-sheet-1 {min-height: 1164px; margin-top: -1251px}
.u-section-2 .u-shape-2 {width: 634px; height: 1178px; margin-right: 72px}
.u-section-2 .u-image-1 {width: 538px; height: 317px; margin-right: 46px}
.u-section-2 .u-group-1 {width: 440px; margin-left: 16px}
.u-section-2 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-text-1 {text-transform: uppercase}
.u-section-2 .u-text-2 {position: relative; font-weight: 700}
.u-section-2 .u-btn-1 {font-weight: 400}
.u-section-2 .u-group-2 {width: 315px; min-height: 276px; margin-top: -584px; margin-right: 72px}
.u-section-2 .u-container-layout-2 {padding-right: 16px}
.u-section-2 .u-text-4 {position: relative; margin-top: 20px}
.u-section-2 .u-text-5 {position: relative; font-size: 1.25rem; font-style: normal; margin-top: 40px; margin-bottom: 20px}
.u-section-2 .u-image-2 {width: 223px; height: 223px; margin-top: 308px; margin-left: 234px}
.u-section-2 .u-layout-wrap-1 {width: 387px; margin-top: -531px; margin-bottom: 174px}
.u-section-2 .u-image-3 {min-height: 193px; background-position: 50% 50%}
.u-section-2 .u-image-4 {min-height: 193px}
.u-section-2 .u-image-5 {min-height: 193px}
.u-section-2 .u-image-6 {min-height: 193px}
.u-section-2 .u-image-7 {min-height: 193px}
.u-section-2 .u-image-8 {min-height: 193px} }

@media (max-width: 991px){ .u-section-2 .u-shape-1 {height: 124px; width: auto; margin-left: initial}
.u-section-2 .u-sheet-1 {min-height: 1034px; margin-top: -1179px}
.u-section-2 .u-shape-2 {width: 485px; height: 1168px; margin-top: -74px; margin-right: 45px}
.u-section-2 .u-image-1 {width: 475px; height: 308px; margin-top: -1274px; margin-right: 20px}
.u-section-2 .u-group-1 {width: 386px; min-height: 678px; margin-top: -75px; margin-left: 0}
.u-section-2 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-2 .u-btn-1 {margin-bottom: 0}
.u-section-2 .u-group-2 {width: 269px; min-height: 286px; margin-top: -537px; margin-right: 45px}
.u-section-2 .u-container-layout-2 {padding-right: 15px}
.u-section-2 .u-text-4 {margin-top: 30px}
.u-section-2 .u-image-2 {width: 194px; height: 187px; margin-top: 251px; margin-left: 190px}
.u-section-2 .u-layout-wrap-1 {width: 311px; margin-top: -408px; margin-bottom: 165px}
.u-section-2 .u-image-3 {min-height: 168px}
.u-section-2 .u-image-4 {min-height: 168px}
.u-section-2 .u-image-5 {min-height: 168px}
.u-section-2 .u-image-6 {min-height: 168px}
.u-section-2 .u-image-7 {min-height: 168px}
.u-section-2 .u-image-8 {min-height: 168px} }

@media (max-width: 767px){ .u-section-2 .u-shape-1 {height: 216px; margin-top: 2529px; width: auto; margin-left: initial}
.u-section-2 .u-sheet-1 {min-height: 2745px; margin-top: -2745px}
.u-section-2 .u-shape-2 {width: 455px; height: 2616px; margin-top: -29px; margin-right: 20px}
.u-section-2 .u-image-1 {width: 369px; height: 327px; object-position: 0% 100%; background-position: 0% 100%; margin-top: -2701px; margin-right: 63px}
.u-section-2 .u-group-1 {width: 392px; margin-top: -54px}
.u-section-2 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-2 .u-group-2 {width: 442px; min-height: 237px; margin-top: 205px; margin-right: 33px}
.u-section-2 .u-container-layout-2 {padding-left: 9px; padding-right: 17px}
.u-section-2 .u-text-4 {margin-top: 42px}
.u-section-2 .u-text-5 {margin-top: 20px; margin-bottom: 42px}
.u-section-2 .u-image-2 {width: 197px; height: 198px; margin-top: -443px; margin-left: 65px}
.u-section-2 .u-layout-wrap-1 {width: 237px; margin: 255px auto -191px 0}
.u-section-2 .u-image-3 {min-height: 203px}
.u-section-2 .u-image-4 {min-height: 203px}
.u-section-2 .u-image-5 {min-height: 203px}
.u-section-2 .u-image-6 {min-height: 203px}
.u-section-2 .u-image-7 {min-height: 203px}
.u-section-2 .u-image-8 {min-height: 203px} }

@media (max-width: 575px){ .u-section-2 .u-shape-1 {height: 249px; margin-top: 2584px; width: auto; margin-left: initial}
.u-section-2 .u-sheet-1 {min-height: 2833px; margin-top: -2833px}
.u-section-2 .u-shape-2 {width: 314px; height: 2703px; margin-top: 160px; margin-right: auto; margin-left: 0}
.u-section-2 .u-image-1 {width: 293px; height: 207px; margin-top: -2781px; margin-right: 0}
.u-section-2 .u-group-1 {min-height: 698px; width: 298px; margin-top: -15px}
.u-section-2 .u-container-layout-1 {padding-left: 12px; padding-right: 6px}
.u-section-2 .u-text-1 {font-weight: 600}
.u-section-2 .u-text-2 {font-size: 3rem}
.u-section-2 .u-btn-1 {margin-bottom: 18px}
.u-section-2 .u-group-2 {width: 275px; min-height: 286px; margin-top: 204px; margin-right: auto; margin-left: 20px}
.u-section-2 .u-container-layout-2 {padding-left: 6px; padding-right: 6px}
.u-section-2 .u-text-4 {margin-top: 30px}
.u-section-2 .u-text-5 {margin-top: 40px; margin-bottom: 20px}
.u-section-2 .u-image-2 {width: 188px; height: 191px; margin-top: -490px; margin-left: 0}
.u-section-2 .u-layout-wrap-1 {width: 249px; margin-top: 346px; margin-bottom: 60px; margin-left: 33px}
.u-section-2 .u-image-3 {min-height: 194px}
.u-section-2 .u-image-4 {min-height: 194px}
.u-section-2 .u-image-5 {min-height: 194px}
.u-section-2 .u-image-6 {min-height: 194px}
.u-section-2 .u-image-7 {min-height: 194px}
.u-section-2 .u-image-8 {min-height: 194px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 1293px}
.u-section-3 .u-group-1 {width: 534px; min-height: 422px; height: auto; background-image: none; position: absolute; top: 241px; left: 606px}
.u-section-3 .u-container-layout-1 {padding-left: 27px; padding-right: 20px}
.u-section-3 .u-text-1 {margin: 40px 0 0}
.u-section-3 .u-btn-1 {font-weight: 700; background-image: none; margin: 53px auto 40px 0}
.u-section-3 .u-image-1 {width: 491px; height: 534px; object-position: 40.43% 50%; background-position: 40.43% 50%; margin: -47px auto 0 0}
.u-section-3 .u-image-2 {width: 172px; height: 176px; margin: 0 auto 0 0}
.u-section-3 .u-image-3 {width: 434px; height: 559px; margin: -559px auto 0 172px}
.u-section-3 .u-group-2 {width: 411px; min-height: 179px; height: auto; margin: -636px 238px 0 auto}
.u-section-3 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-2 {margin: 20px 0}
.u-section-3 .u-layout-wrap-1 {width: 1140px; margin: 553px auto 133px 0}
.u-section-3 .u-layout-cell-1 {min-height: 401px; background-image: none}
.u-section-3 .u-container-layout-3 {padding-left: 30px}
.u-section-3 .u-icon-1 {height: 58px; width: 58px; margin: 39px auto 0 0}
.u-section-3 .u-text-3 {font-size: 1.875rem; font-weight: 400; margin: 31px 30px 0 0}
.u-section-3 .u-text-4 {margin: 30px 30px 1px 0}
.u-section-3 .u-layout-cell-2 {min-height: 401px; background-image: none}
.u-section-3 .u-container-layout-4 {padding-left: 30px}
.u-section-3 .u-icon-2 {height: 58px; width: 58px; margin: 39px auto 0 0}
.u-section-3 .u-text-5 {font-size: 1.875rem; font-weight: 400; margin: 31px 30px 0 0}
.u-section-3 .u-text-6 {margin: 30px 30px 1px 0}
.u-section-3 .u-layout-cell-3 {min-height: 401px; background-image: none}
.u-section-3 .u-container-layout-5 {padding-left: 30px}
.u-section-3 .u-icon-3 {height: 58px; width: 58px; margin: 39px auto 0 0}
.u-section-3 .u-text-7 {font-size: 1.875rem; font-weight: 400; margin: 31px 30px 0 0}
.u-section-3 .u-text-8 {margin: 30px 30px 1px 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 1438px}
.u-section-3 .u-group-1 {width: 440px; left: 500px}
.u-section-3 .u-container-layout-1 {padding-left: 22px; padding-right: 16px}
.u-section-3 .u-image-1 {width: 405px; height: 613px; margin-top: -122px}
.u-section-3 .u-image-2 {width: 142px; height: 145px}
.u-section-3 .u-image-3 {width: 358px; height: 656px; margin-top: -656px; margin-left: 142px}
.u-section-3 .u-group-2 {width: 344px; min-height: 192px; margin-top: -586px; margin-right: 191px}
.u-section-3 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-text-2 {position: relative}
.u-section-3 .u-layout-wrap-1 {margin-top: 506px; margin-bottom: 130px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-container-layout-3 {padding-left: 25px}
.u-section-3 .u-icon-1 {height: 48px; width: 48px}
.u-section-3 .u-text-3 {margin-right: 25px}
.u-section-3 .u-text-4 {margin-right: 25px}
.u-section-3 .u-container-layout-4 {padding-left: 25px}
.u-section-3 .u-icon-2 {height: 48px; width: 48px}
.u-section-3 .u-text-5 {margin-right: 25px}
.u-section-3 .u-text-6 {margin-right: 25px}
.u-section-3 .u-container-layout-5 {padding-left: 25px}
.u-section-3 .u-icon-3 {height: 48px; width: 48px}
.u-section-3 .u-text-7 {margin-right: 25px}
.u-section-3 .u-text-8 {margin-right: 25px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 1288px}
.u-section-3 .u-group-1 {width: 356px; min-height: 530px; left: 364px}
.u-section-3 .u-container-layout-1 {padding-left: 19px; padding-right: 18px}
.u-section-3 .u-image-1 {width: 310px; height: 687px; margin-top: -47px}
.u-section-3 .u-image-2 {width: 89px; height: 97px}
.u-section-3 .u-image-3 {width: 274px; height: 638px; margin-top: -637px; margin-left: 90px}
.u-section-3 .u-group-2 {width: 333px; min-height: 196px; margin-top: -706px; margin-right: 78px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-wrap-1 {margin-top: 564px; margin-bottom: 60px; width: auto; margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-icon-1 {height: 57px; width: 57px; margin-top: 19px}
.u-section-3 .u-text-3 {margin-right: 0}
.u-section-3 .u-text-4 {margin-right: 0}
.u-section-3 .u-container-layout-4 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-icon-2 {height: 57px; width: 57px; margin-top: 19px}
.u-section-3 .u-text-5 {margin-right: 0}
.u-section-3 .u-text-6 {margin-right: 0}
.u-section-3 .u-container-layout-5 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-icon-3 {height: 57px; width: 57px; margin-top: 19px}
.u-section-3 .u-text-7 {margin-right: 0}
.u-section-3 .u-text-8 {margin-right: 0} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1760px}
.u-section-3 .u-group-1 {width: 456px; min-height: 502px; top: 1014px; left: 79px}
.u-section-3 .u-container-layout-1 {padding-left: 31px; padding-right: 25px}
.u-section-3 .u-text-1 {margin-top: 50px}
.u-section-3 .u-btn-1 {margin-bottom: 50px}
.u-section-3 .u-image-1 {width: 482px; height: 564px; margin-top: -84px}
.u-section-3 .u-image-2 {width: 156px; height: 164px; margin-left: 25px}
.u-section-3 .u-image-3 {width: 364px; height: 607px; margin-top: -344px; margin-right: 0; margin-left: auto}
.u-section-3 .u-group-2 {width: 380px; margin-top: -135px; margin-right: auto; margin-left: 71px}
.u-section-3 .u-container-layout-2 {padding-left: 5px; padding-right: 5px}
.u-section-3 .u-layout-wrap-1 {margin-top: 612px; margin-bottom: 133px; width: auto; margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-3 {padding-left: 8px; padding-right: 8px}
.u-section-3 .u-icon-1 {height: 63px; width: 63px; margin-top: 12px}
.u-section-3 .u-container-layout-4 {padding-left: 8px; padding-right: 8px}
.u-section-3 .u-icon-2 {height: 63px; width: 63px; margin-top: 11px}
.u-section-3 .u-container-layout-5 {padding-left: 8px; padding-right: 8px}
.u-section-3 .u-icon-3 {height: 63px; width: 63px; margin-top: 11px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1783px}
.u-section-3 .u-group-1 {min-height: 562px; top: 995px; left: 1px; width: 337px}
.u-section-3 .u-container-layout-1 {padding-left: 18px; padding-right: 9px}
.u-section-3 .u-text-1 {margin-top: 40px}
.u-section-3 .u-btn-1 {margin-bottom: 40px}
.u-section-3 .u-image-1 {width: 315px; height: 624px; margin-top: -76px; margin-left: 1px}
.u-section-3 .u-image-2 {width: 158px; height: 178px; margin-top: 249px; margin-right: 2px; margin-left: auto}
.u-section-3 .u-image-3 {width: 267px; height: 556px; margin-top: -734px}
.u-section-3 .u-group-2 {width: 297px; min-height: 164px; margin-top: -100px; margin-left: 2px}
.u-section-3 .u-container-layout-2 {padding-left: 1px; padding-right: 1px}
.u-section-3 .u-text-2 {margin-bottom: 0}
.u-section-3 .u-layout-wrap-1 {margin-top: 720px; width: auto; margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-3 {padding-left: 2px; padding-right: 2px}
.u-section-3 .u-icon-1 {margin-top: 62px}
.u-section-3 .u-container-layout-4 {padding-left: 2px; padding-right: 2px}
.u-section-3 .u-icon-2 {margin-top: 62px}
.u-section-3 .u-container-layout-5 {padding-left: 2px; padding-right: 2px}
.u-section-3 .u-icon-3 {height: 70px; width: 70px; margin-top: 54px} }.u-section-4 .u-shape-1 {height: 112px; margin-top: 710px; margin-bottom: 0; margin-left: 0; width: 1300px; background-image: none}
.u-section-4 .u-sheet-1 {min-height: 821px; margin: -821px auto 0}
.u-section-4 .u-shape-2 {width: 769px; height: 890px; position: absolute; top: -101px; left: 265px}
.u-section-4 .u-layout-wrap-1 {width: 1120px; margin: 106px auto 0 0}
.u-section-4 .u-layout-cell-1 {min-height: 483px}
.u-section-4 .u-image-1 {width: 123px; left: 0; right: auto}
.u-section-4 .u-layout-cell-2 {min-height: 483px}
.u-section-4 .u-image-2 {height: 603px; object-position: 73.12% 50%; background-position: 73.12% 50%; margin: -67px auto -127px 0}
.u-section-4 .u-layout-cell-3 {min-height: 483px}
.u-section-4 .u-image-3 {height: 382px; width: 276px; margin: 32px auto 39px 0}
.u-section-4 .u-image-4 {min-height: 483px; background-image: url("images/robotsdos620x349.jpg")}
.u-section-4 .u-group-1 {width: 459px; min-height: 170px; height: auto; margin: 20px 106px 72px auto}
.u-section-4 .u-container-layout-5 {padding-left: 0; padding-right: 20px}
.u-section-4 .u-text-1 {position: relative; font-style: italic; font-weight: 600; margin: 15px 0} 

@media (max-width: 1199px){ .u-section-4 .u-shape-1 {height: 132px; margin-left: initial; width: auto}
.u-section-4 .u-sheet-1 {min-height: 903px; margin-top: -842px}
.u-section-4 .u-shape-2 {width: 634px; left: 219px}
.u-section-4 .u-layout-wrap-1 {width: 924px}
.u-section-4 .u-image-1 {width: 101px}
.u-section-4 .u-image-2 {height: 497px; margin-right: initial; margin-left: initial}
.u-section-4 .u-image-3 {height: 315px; width: 228px}
.u-section-4 .u-group-1 {width: 408px; min-height: 190px; margin-right: 87px; margin-bottom: 74px}
.u-section-4 .u-container-layout-5 {padding-right: 16px}
.u-section-4 .u-text-1 {margin-top: 20px; margin-bottom: 20px} }

@media (max-width: 991px){ .u-section-4 .u-shape-1 {height: 136px; margin-top: 930px; width: auto; margin-left: initial}
.u-section-4 .u-sheet-1 {min-height: 878px; margin-top: -1066px}
.u-section-4 .u-shape-2 {width: 632px; height: 896px; left: 138px; margin: -50px auto 0 89px}
.u-section-4 .u-layout-wrap-1 {width: 710px; margin-top: -740px}
.u-section-4 .u-layout-cell-1 {min-height: 911px}
.u-section-4 .u-image-1 {width: 78px; height: 845px; margin-top: 0; margin-bottom: 0; left: auto; bottom: auto; right: auto; top: auto}
.u-section-4 .u-layout-cell-2 {min-height: 911px}
.u-section-4 .u-image-2 {height: 520px; width: 610px; margin-right: auto; margin-bottom: 0; margin-left: -270px}
.u-section-4 .u-layout-cell-3 {min-height: 463px}
.u-section-4 .u-image-3 {height: 413px; width: 320px; margin: 0 0 40px auto}
.u-section-4 .u-image-4 {min-height: 463px}
.u-section-4 .u-group-1 {width: 312px; margin-top: 35px; margin-right: auto; margin-bottom: 35px}
.u-section-4 .u-container-layout-5 {padding-right: 10px}
.u-section-4 .u-text-1 {margin-top: 37px; margin-bottom: 0; width: auto} }

@media (max-width: 767px){ .u-section-4 .u-shape-1 {height: 158px; margin-top: 2142px; width: auto; margin-left: initial}
.u-section-4 .u-sheet-1 {min-height: 862px; margin-top: -2300px}
.u-section-4 .u-shape-2 {width: 523px; height: 2291px; top: -81px; left: 66px; margin-left: 0}
.u-section-4 .u-layout-wrap-1 {width: 540px; margin-top: 20px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-image-1 {width: 108px; height: 709px; margin-right: auto; margin-bottom: -256px; margin-left: 0; right: 0}
.u-section-4 .u-layout-cell-2 {min-height: 483px}
.u-section-4 .u-image-2 {height: 666px; width: 433px; margin: -319px 0 106px auto}
.u-section-4 .u-layout-cell-3 {min-height: 483px}
.u-section-4 .u-image-3 {height: 417px; width: 433px; margin-top: -30px; margin-bottom: 66px}
.u-section-4 .u-image-4 {min-height: 483px}
.u-section-4 .u-group-1 {width: 445px; margin-right: 0; margin-bottom: 153px}
.u-section-4 .u-container-layout-5 {padding-right: 5px} }

@media (max-width: 575px){ .u-section-4 .u-shape-1 {height: 168px; margin-top: 2005px; margin-bottom: 137px; width: auto; margin-left: initial}
.u-section-4 .u-sheet-1 {min-height: 1906px; margin-top: -2310px}
.u-section-4 .u-shape-2 {height: 1956px; left: auto; margin-top: -21px; right: auto; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-layout-wrap-1 {margin-top: -1821px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-image-1 {width: 145px; right: auto; margin-right: 0; margin-top: initial; margin-bottom: initial; height: auto}
.u-section-4 .u-layout-cell-2 {min-height: 230px}
.u-section-4 .u-image-2 {height: 489px; width: 278px; margin-top: -197px; margin-right: auto; margin-bottom: -91px}
.u-section-4 .u-layout-cell-3 {min-height: 736px}
.u-section-4 .u-image-3 {height: 640px; margin-bottom: 96px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-group-1 {min-height: 232px; width: 293px; margin-top: 41px; margin-right: auto; margin-bottom: 0}
.u-section-4 .u-container-layout-5 {padding-right: 1px} }.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 510px; margin: 1px auto 0}
.u-section-5 .u-group-1 {min-height: 367px; height: auto; width: 955px; margin: 7px auto 50px 0}
.u-section-5 .u-container-layout-1 {padding-left: 0; padding-right: 20px}
.u-section-5 .u-icon-1 {height: 104px; width: 104px; margin: 18px 660px 0 0}
.u-section-5 .u-text-1 {font-size: 1.5rem; margin: 20px 0 0}
.u-section-5 .u-text-2 {text-transform: none; font-weight: 700; letter-spacing: 1px; font-size: 1.875rem; margin: 20px 0 18px} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 509px}
.u-section-5 .u-group-1 {width: 809px; min-height: 345px; margin-top: 39px}
.u-section-5 .u-container-layout-1 {padding-right: 16px}
.u-section-5 .u-icon-1 {height: 86px; width: 86px; margin-top: 0; margin-right: 544px}
.u-section-5 .u-text-1 {font-size: 1.25rem}
.u-section-5 .u-text-2 {font-size: 1.25rem; margin-bottom: 35px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 581px}
.u-section-5 .u-group-1 {min-height: 315px; margin-top: 59px; margin-bottom: 60px; margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-container-layout-1 {padding-right: 0}
.u-section-5 .u-icon-1 {height: 66px; width: 66px; margin-right: 417px}
.u-section-5 .u-text-2 {margin-bottom: 0} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 607px}
.u-section-5 .u-group-1 {min-height: 353px; margin-top: 85px; margin-right: auto; margin-left: 0; width: 540px}
.u-section-5 .u-icon-1 {height: 62px; width: 62px; margin-right: 313px}
.u-section-5 .u-text-2 {margin-bottom: 35px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 757px; margin-top: 0}
.u-section-5 .u-group-1 {min-height: 439px; margin-top: 129px; margin-bottom: 90px; margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-5 .u-icon-1 {height: 52px; width: 52px; margin-right: 197px} }.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 694px}
.u-section-6 .u-shape-1 {width: 800px; height: 1094px; background-image: none; margin: 0 0 0 auto}
.u-section-6 .u-layout-wrap-1 {width: 1140px; margin: -1199px auto 0 0}
.u-section-6 .u-layout-cell-1 {background-image: none; min-height: 735px}
.u-section-6 .u-image-1 {width: 527px; height: 547px; margin: 0 auto 75px 0}
.u-section-6 .u-layout-cell-2 {min-height: 116px}
.u-section-6 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-6 .u-layout-cell-3 {background-image: none; min-height: 619px}
.u-section-6 .u-container-layout-3 {padding-left: 33px; padding-right: 20px}
.u-section-6 .u-text-1 {font-size: 2.25rem; margin: 0}
.u-section-6 .u-text-2 {margin: 25px 0 36px}
.u-section-6 .u-shape-2 {width: 20px; height: 336px; margin: -748px 0 476px auto} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 682px}
.u-section-6 .u-shape-1 {width: 659px}
.u-section-6 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-6 .u-layout-cell-1 {min-height: 723px}
.u-section-6 .u-image-1 {width: 435px; height: 451px; margin-bottom: 63px}
.u-section-6 .u-layout-cell-2 {min-height: 114px}
.u-section-6 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-6 .u-layout-cell-3 {min-height: 609px}
.u-section-6 .u-container-layout-3 {padding-left: 0; padding-right: 30px}
.u-section-6 .u-text-1 {margin-top: 30px}
.u-section-6 .u-text-2 {margin-bottom: 30px}
.u-section-6 .u-shape-2 {margin-top: -735px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 1039px}
.u-section-6 .u-shape-1 {width: 594px; height: 570px}
.u-section-6 .u-layout-wrap-1 {margin-top: -675px; width: auto; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 675px}
.u-section-6 .u-image-1 {width: 583px; height: 605px; margin-bottom: 70px}
.u-section-6 .u-layout-cell-2 {min-height: 102px}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-layout-cell-3 {min-height: 468px}
.u-section-6 .u-container-layout-3 {padding-left: 152px; padding-right: 19px}
.u-section-6 .u-text-2 {margin-bottom: 0}
.u-section-6 .u-shape-2 {height: 346px; margin-top: -1196px; margin-bottom: 692px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 989px}
.u-section-6 .u-shape-1 {width: 476px; height: 1246px; margin-top: -344px}
.u-section-6 .u-layout-wrap-1 {width: 476px; margin-top: -1351px; margin-right: auto; margin-left: 0}
.u-section-6 .u-layout-cell-1 {min-height: 533px}
.u-section-6 .u-image-1 {height: 508px; margin-bottom: 0; margin-right: initial; margin-left: initial; width: auto}
.u-section-6 .u-layout-cell-2 {min-height: 100px}
.u-section-6 .u-container-layout-2 {padding-left: 5px; padding-right: 5px}
.u-section-6 .u-layout-cell-3 {min-height: 639px}
.u-section-6 .u-container-layout-3 {padding-left: 86px; padding-right: 9px}
.u-section-6 .u-text-1 {margin-top: 43px}
.u-section-6 .u-shape-2 {width: 19px; margin-bottom: 60px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 1039px}
.u-section-6 .u-shape-1 {height: 327px; margin-top: 25px; left: 0; right: 0; margin-right: initial; margin-left: initial; width: auto}
.u-section-6 .u-layout-wrap-1 {width: 310px; margin-top: -406px}
.u-section-6 .u-layout-cell-1 {min-height: 432px}
.u-section-6 .u-image-1 {height: 340px; width: auto; margin-right: initial; margin-left: initial}
.u-section-6 .u-container-layout-2 {padding-left: 1px; padding-right: 1px}
.u-section-6 .u-layout-cell-3 {min-height: 667px}
.u-section-6 .u-container-layout-3 {padding-left: 18px; padding-right: 3px}
.u-section-6 .u-text-1 {margin-top: 30px}
.u-section-6 .u-shape-2 {width: 10px; height: 330px; margin-top: -791px; margin-bottom: 0} }.u-section-7 {background-image: linear-gradient(white, #e9f2fa)}
.u-section-7 .u-sheet-1 {min-height: 944px; margin: 0 auto}
.u-section-7 .u-shape-1 {width: 470px; height: 491px; margin: -52px 57px 0 auto}
.u-section-7 .u-group-1 {width: 603px; min-height: 168px; height: auto; margin: -340px 149px 0 auto}
.u-section-7 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-7 .u-text-1 {margin: 36px 0 0}
.u-section-7 .u-text-2 {font-weight: 700; margin: 20px 0 15px}
.u-section-7 .u-layout-wrap-1 {width: 991px; margin: 43px auto 0 0}
.u-section-7 .u-layout-cell-1 {background-image: none; min-height: 552px}
.u-section-7 .u-container-layout-2 {padding-left: 0; padding-right: 0}
.u-section-7 .u-text-3 {font-style: italic; margin: 39px 30px 0 0}
.u-section-7 .u-btn-1 {margin: 39px auto 45px 0}
.u-section-7 .u-layout-cell-2 {min-height: 552px}
.u-section-7 .u-image-1 {width: 546px; height: 551px; margin: 0 auto 2px 0}
.u-section-7 .u-image-2 {width: 266px; height: 267px; margin: -863px auto 95px 347px} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 892px}
.u-section-7 .u-shape-1 {width: 474px; margin-right: 47px}
.u-section-7 .u-group-1 {width: 497px; margin-right: 123px}
.u-section-7 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-7 .u-layout-wrap-1 {width: 862px; margin-top: 36px}
.u-section-7 .u-layout-cell-1 {min-height: 548px}
.u-section-7 .u-text-3 {margin-top: 46px; margin-right: 25px}
.u-section-7 .u-btn-1 {margin-bottom: 3px}
.u-section-7 .u-layout-cell-2 {min-height: 548px}
.u-section-7 .u-image-1 {width: 450px; height: 454px; margin-bottom: 0}
.u-section-7 .u-image-2 {width: 219px; height: 220px; margin-top: -883px; margin-bottom: 723px; margin-left: 199px} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 964px}
.u-section-7 .u-shape-1 {width: 398px; margin-right: 20px}
.u-section-7 .u-group-1 {width: 416px; margin-top: -350px; margin-right: 47px}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 0}
.u-section-7 .u-layout-wrap-1 {width: 673px; margin-top: 20px}
.u-section-7 .u-layout-cell-1 {min-height: 671px}
.u-section-7 .u-text-3 {margin-top: 29px; margin-right: 0}
.u-section-7 .u-btn-1 {margin-bottom: 14px}
.u-section-7 .u-layout-cell-2 {min-height: 671px}
.u-section-7 .u-image-1 {height: 423px; margin-bottom: 65px; margin-right: initial; margin-left: initial; width: auto}
.u-section-7 .u-image-2 {width: 168px; height: 169px; margin-top: -948px; margin-bottom: 846px; margin-left: 134px} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 1256px}
.u-section-7 .u-shape-1 {width: 413px; height: 659px; margin-top: -96px; margin-right: 29px}
.u-section-7 .u-group-1 {width: 390px; margin-top: -482px; margin-right: 57px}
.u-section-7 .u-container-layout-1 {padding-left: 5px}
.u-section-7 .u-layout-wrap-1 {width: 538px; margin-top: 57px; margin-left: auto}
.u-section-7 .u-layout-cell-1 {min-height: 454px; order: 1}
.u-section-7 .u-text-3 {margin-top: 39px}
.u-section-7 .u-btn-1 {margin-bottom: 107px}
.u-section-7 .u-layout-cell-2 {min-height: 496px; order: 0}
.u-section-7 .u-image-1 {height: 441px; width: 416px; margin-right: 0; margin-bottom: 55px; margin-left: auto}
.u-section-7 .u-image-2 {width: 148px; height: 149px; margin-top: -1256px; margin-bottom: 60px; margin-left: -50px} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 1189px}
.u-section-7 .u-shape-1 {height: 595px; width: 316px; margin-top: -92px; margin-right: auto}
.u-section-7 .u-group-1 {width: 340px; margin-top: -446px; margin-right: auto; margin-left: 0}
.u-section-7 .u-container-layout-1 {padding-left: 1px; padding-right: 23px}
.u-section-7 .u-text-1 {margin-top: 20px}
.u-section-7 .u-text-2 {margin-bottom: 20px}
.u-section-7 .u-layout-wrap-1 {width: 309px; margin-top: 39px}
.u-section-7 .u-layout-cell-1 {min-height: 509px}
.u-section-7 .u-text-3 {margin-top: 41px}
.u-section-7 .u-btn-1 {margin-bottom: 65px}
.u-section-7 .u-layout-cell-2 {min-height: 416px}
.u-section-7 .u-image-1 {height: 340px; margin-bottom: 26px; margin-right: initial; margin-left: initial; width: auto}
.u-section-7 .u-image-2 {width: 157px; height: 158px; margin: -579px 0 -170px auto} }