/* Desktop */
@media (min-width: 980px){
/* ######################### MENU STYLE #########################*/
.hamburger-menu-close-button { display: none; }
#imSite { position: relative; }
#imMnMn.main-menu { text-align: left; }
#imMnMn.main-menu > ul { z-index: 10001; display: inline-block; }
#imMnMn.main-menu li > ul, #imMnMn.main-menu li > div { z-index: 10002; }

/* Main Menu */

#imMnMn.main-menu ul {padding:0;margin:0;list-style-type:none; }
#imMnMn.main-menu > ul { margin-left: 0px; }
#imMnMn.main-menu > ul > li { position: relative; margin-left: 2px;  }
#imMnMn.main-menu > ul > li:first-child { margin-left: 0; }

/* Links */

/* Main Menu style */
#imMnMn.main-menu > ul > li { cursor: pointer; display: block; float: left; }
#imMnMn.main-menu > ul > li > a { display: block; }
#imMnMn.main-menu > ul > li .imMnMnFirstBg { background-image: url('../menu/hor_main.png'); width: 140px; height: 40px; }
#imMnMn.main-menu > ul > li:hover .imMnMnFirstBg , #imMnMn.main-menu > ul > li.imMnMnCurrent:hover .imMnMnFirstBg  { background-image: url('../menu/hor_main_h.png'); }
#imMnMn.main-menu > ul > li.imMnMnSeparator .imMnMnFirstBg  { background-image: none; cursor: auto; }
#imMnMn.main-menu > ul > li.imMnMnCurrent .imMnMnFirstBg  { background-image: url('../menu/hor_main_c.png'); cursor: auto; }
#imMnMn.main-menu > ul > li .imMnMnFirstBg .imMnMnImg, #imMnMn.main-menu > ul > li:hover .imMnMnFirstBg .imMnMnImg { overflow: hidden; position: absolute; line-height: 40px; width: 100%; height: 40px; top: 0; left: 0;text-align: left; }
#imMnMn.main-menu > ul > li .imMnMnFirstBg .imMnMnImg img, #imMnMn.main-menu > ul > li:hover .imMnMnFirstBg .imMnMnImg img { border: none; }
#imMnMn.main-menu > ul > li .imMnMnFirstBg .imMnMnLevelImg { display: none; }
#imMnMn.main-menu > ul > li .imMnMnFirstBg .imMnMnHoverIcon { display: none; }
#imMnMn.main-menu > ul > li:hover .imMnMnFirstBg .imMnMnDefaultIcon { display: none; }
#imMnMn.main-menu > ul > li:hover .imMnMnFirstBg .imMnMnHoverIcon { display: inline; }
#imMnMn.main-menu > ul > li.imMnMnSeparator > .imMnMnFirstBg > .imMnMnTxt { display: none; }
#imMnMn.main-menu > ul > li > a { text-decoration: none; }
#imMnMn.main-menu > ul > li .imMnMnFirstBg > .imMnMnTxt { overflow: hidden; margin: 0px; padding: 0px;  width: 140px; height: 40px; font: normal normal normal 11pt 'Tahoma'; color: #253A58; text-align: center; text-decoration: none; line-height: 40px; display: block;}
#imMnMn.main-menu > ul > li:hover .imMnMnFirstBg > .imMnMnTxt, #imMnMn.main-menu > ul > li.imMnMnCurrent:hover .imMnMnFirstBg > .imMnMnTxt { cursor: pointer; color: #FFFFFF;font-weight: normal;font-style: normal;}
#imMnMn.main-menu > ul > li.imMnMnCurrent .imMnMnFirstBg > .imMnMnTxt { color: #FFFFFF;font-weight: normal;font-style: normal;}
#imMnMn.main-menu > ul > li.imMnMnSeparator { background: transparent url('../res/separatorh.png') no-repeat center center; width: 10px; height: 40px; }
#imMnMn.main-menu .imMnMnFirstBg { position: relative; display: block; background-repeat: no-repeat; cursor: pointer; width: 100%; }
#imMnMn.main-menu a { border: none; cursor: pointer; }
#imMnMn.main-menu .imMnMnTxt { text-overflow: ellipsis; white-space: nowrap; }
#imMnMn.main-menu .imMnMnTxt .imMnMnTextLabel { position: relative; }
#imMnMn.main-menu .imMnMnTxt .imMnMnTextLabel { word-wrap: normal; white-space: normal; line-height: normal; display: inline-block; vertical-align: middle; margin-top: -3px; }
#imMnMn.main-menu .imMnMnFirstBg .imMnMnImg { display: block; height: 40px; width: 140px; cursor: pointer; }
#imMnMn.main-menu .imMnMnFirstBg .imMnMnImg img { position: absolute; }


/* MENU POSITION : HORIZONTAL VerticalOneColumn */
#imMnMn.main-menu ul .autoHide, #imMnMn.main-menu ul div .autoHide { display: none; }

/* ######################### MAIN MENU POSITION #########################*/

/* div: Menu container*/
#imMnMn.main-menu { z-index:10000; }
#imMnMn.main-menu > ul { position: relative; }
#imMnMn.main-menu > ul > li > ul { position: absolute; }

/* First level menu style */
#imMnMn.main-menu > ul > li { display: inline-block; width:140px; }
#imMnMn.main-menu > ul > li span { display:block; padding:0;}
#imMnMn.main-menu a { cursor: pointer; display: block; width:140px;}

/* ########################## SUB MENU POSITION #########################*/

#imMnMn.main-menu.auto ul li ul li { top: 0px; }

/* Second level boxmodel*/
#imMnMn.main-menu.auto ul li ul li ul { position: absolute; width: 170px; }

/* Hide Levels */
#imMnMn.main-menu.auto li:hover > ul.auto { display:block; }
#imMnMn.main-menu.auto li ul.auto { display: none; }
#imMnMn.main-menu ul ul li .imMnMnBorder { overflow: hidden; }
.hamburger-menu-background { display: none; }
}
/* Mobile Fluid */
@media (max-width: 979px){
#imMnMn.main-menu .hamburger-button { position: absolute; top: 5px;right: 5px;}
#imMnMn.main-menu .hamburger-button { cursor: pointer; width: 40px; height: 40px;background-image: url('../menu/mobile.png'); background-repeat: no-repeat; background-position: center center;}
#imMnMn.main-menu .hamburger-button > div { display: table; width: 40px; height: 40px; }
#imMnMn.main-menu .hamburger-button > div > div { display: table-cell; vertical-align: middle; width: 40px; height: 40px; }
#imMnMn.main-menu .hamburger-bar { margin: 4px auto; width: 65%; height: 4px; background-color: #253A58; }
#imMnMn.main-menu .hamburger-menu-background { z-index: 10;position: fixed;display: block;top: 0;bottom: 0;right: 0; left: auto;width: 170px;background-color: #FFFFFF;transition: left 0.5s, right 0.5s, opacity 0.5s;-webkit-transition: left 0.5s, right 0.5s, opacity 0.5s;}
#imMnMn.main-menu > ul {transition: right 0.5s, left 0.5s, opacity 0.5s;-webkit-transition: right 0.5s, left 0.5s, opacity 0.5s;}
#imMnMn.main-menu .hamburger-site-background { display: none;position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 9; background-color: black;}
#imMnMn.main-menu div.imMnMnCustomHTML { display: none; }

#imMnMn.main-menu { overflow: visible; float: none; z-index: 10; }
#imMnMn.main-menu ul ul { display: none; margin-bottom: 1px; }
#imMnMn.main-menu li > div { display: none; }
#imMnMn.main-menu div > ul { display: block; }
#imMnMn.main-menu > ul { z-index: 11; position: fixed; right: 0; left: auto; top: 40px; background-color: #FFFFFF; overflow-x: hidden; overflow-y: auto; height: calc(100% - 40px) }
#imMnMn.main-menu .hamburger-menu-close-button { display: block; font-family: Arial; font-size: 30px; text-align: right; padding: 5px 10px; color: #253A58; }
#imMnMn.main-menu .hamburger-menu-close-button span { cursor: pointer; }
#imMnMn.main-menu li { margin-bottom: 1px;display:block; width: 168px; }
#imMnMn.main-menu li:first-child { margin-top: 0; }
#imMnMn.main-menu .imMnMnTxt { border: 1px solid #D3D3D3; }
#imMnMn.main-menu li, #imMnMn.main-menu li a {font: normal normal normal 10pt 'Tahoma'; color: #253A58; text-align: left; text-decoration: none; background-color: #FFFFFF;}
#imMnMn.main-menu ul ul li .imMnMnTxt { background-color: #EBEBEB; }
#imMnMn.main-menu ul ul li li .imMnMnTxt { background-color: #D7D7D7; }
#imMnMn.main-menu ul ul li li li .imMnMnTxt { background-color: #C3C3C3; }
#imMnMn.main-menu .imMnMnTxt { max-height: 18px; position: relative; overflow: hidden; display: block; padding: 8px 8px 8px 8px; }
#imMnMn.main-menu ul li.imPage:hover, #imMnMn.main-menu ul li.imPage:hover .imMnMnTxt, #imMnMn.main-menu ul li.imLevel:hover > span > .imMnMnTxt, #imMnMn.main-menu ul li.imLevel:hover > a > span > .imMnMnTxt{text-decoration: none;color: #253A58; background-color: #B0D1FF; border-color: #D3D3D3;}
#imMnMn.main-menu ul li.imMnMnSeparator, #imMnMn.main-menu ul li.imMnMnSeparator .imMnMnTxt,#imMnMn.main-menu ul li.imMnMnSeparator:hover, #imMnMn.main-menu ul li.imMnMnSeparator:hover .imMnMnTxt{color: #A9A9A9; font-style: normal; font-weight: bold; }
#imMnMn.main-menu .empty-separator { background: transparent url('../res/separatorv.png') no-repeat center center; width: 170px; height: 10px; }
#imMnMn.main-menu .empty-separator span { display: none; }
#imMnMn.main-menu .imMnMnImg { margin-right: 3px; position: relative; width: 34px; height: 34px; }
#imMnMn.main-menu li img.imMnMnHoverIcon { display: none; }
#imMnMn.main-menu li img { vertical-align: top; }
#imMnMn.main-menu li:hover .imMnMnImg img.imMnMnDefaultIcon { display: none; }
#imMnMn.main-menu li:hover .imMnMnImg img.imMnMnHoverIcon { display: inline; }

#imMnMn.main-menu .menu-mobile-hidden, #imMnMn.main-menu > ul.menu-mobile-hidden { right: -170px; opacity: 0; }

}
#imMnMn.static-menu { z-index: 10001; padding: 0; height: 70px; }
.static-menu div.imMnMnCustomHTML { display: none; }
/* Desktop */
@media (min-width: 980px){
#imMnMn.static-menu { width: 100%; }
/* ######################### MENU STYLE #########################*/
.hamburger-menu-close-button { display: none; }
#imSite { position: relative; }
#imMnMn.static-menu { text-align: center; }
#imMnMn.static-menu > ul { z-index: 10001; display: inline-block; }
#imMnMn.static-menu li > ul, #imMnMn.static-menu li > div { z-index: 10002; }

/* Main Menu */

#imMnMn.static-menu ul {padding:0;margin:0;list-style-type:none; }
#imMnMn.static-menu > ul { margin-left: 0px; }
#imMnMn.static-menu > ul > li { position: relative; margin-left: 2px;  }

/* Links */

/* Main Menu style */
#imMnMn.static-menu > ul > li { cursor: pointer; display: block; float: left; }
#imMnMn.static-menu > ul > li > a { display: block; }
#imMnMn.static-menu > ul > li .imMnMnFirstBg { background-image: url('../menu/hor_main.png'); width: 140px; height: 40px; }
#imMnMn.static-menu > ul > li:hover .imMnMnFirstBg , #imMnMn.static-menu > ul > li.imMnMnCurrent:hover .imMnMnFirstBg  { background-image: url('../menu/hor_main_h.png'); }
#imMnMn.static-menu > ul > li.imMnMnSeparator .imMnMnFirstBg  { background-image: none; cursor: auto; }
#imMnMn.static-menu > ul > li.imMnMnCurrent .imMnMnFirstBg  { background-image: url('../menu/hor_main_c.png'); cursor: auto; }
#imMnMn.static-menu > ul > li .imMnMnFirstBg .imMnMnImg, #imMnMn.static-menu > ul > li:hover .imMnMnFirstBg .imMnMnImg { overflow: hidden; position: absolute; line-height: 40px; width: 100%; height: 40px; top: 0; left: 0;text-align: left; }
#imMnMn.static-menu > ul > li .imMnMnFirstBg .imMnMnImg img, #imMnMn.static-menu > ul > li:hover .imMnMnFirstBg .imMnMnImg img { border: none; }
#imMnMn.static-menu > ul > li .imMnMnFirstBg .imMnMnLevelImg { display: none; }
#imMnMn.static-menu > ul > li .imMnMnFirstBg .imMnMnHoverIcon { display: none; }
#imMnMn.static-menu > ul > li:hover .imMnMnFirstBg .imMnMnDefaultIcon { display: none; }
#imMnMn.static-menu > ul > li:hover .imMnMnFirstBg .imMnMnHoverIcon { display: inline; }
#imMnMn.static-menu > ul > li.imMnMnSeparator > .imMnMnFirstBg > .imMnMnTxt { display: none; }
#imMnMn.static-menu > ul > li > a { text-decoration: none; }
#imMnMn.static-menu > ul > li .imMnMnFirstBg > .imMnMnTxt { overflow: hidden; margin: 0px; padding: 0px;  width: 140px; height: 40px; font: normal normal normal 11pt 'Tahoma'; color: #253A58; text-align: center; text-decoration: none; line-height: 40px; display: block;}
#imMnMn.static-menu > ul > li:hover .imMnMnFirstBg > .imMnMnTxt, #imMnMn.static-menu > ul > li.imMnMnCurrent:hover .imMnMnFirstBg > .imMnMnTxt { cursor: pointer; color: #FFFFFF;font-weight: normal;font-style: normal;}
#imMnMn.static-menu > ul > li.imMnMnCurrent .imMnMnFirstBg > .imMnMnTxt { color: #FFFFFF;font-weight: normal;font-style: normal;}
#imMnMn.static-menu > ul > li.imMnMnSeparator { background: transparent url('../res/separatorh.png') no-repeat center center; width: 10px; height: 40px; }
#imMnMn.static-menu .imMnMnFirstBg { position: relative; display: block; background-repeat: no-repeat; cursor: pointer; width: 100%; }
#imMnMn.static-menu a { border: none; cursor: pointer; }
#imMnMn.static-menu .imMnMnTxt { text-overflow: ellipsis; white-space: nowrap; }
#imMnMn.static-menu .imMnMnTxt .imMnMnTextLabel { position: relative; }
#imMnMn.static-menu .imMnMnTxt .imMnMnTextLabel { word-wrap: normal; white-space: normal; line-height: normal; display: inline-block; vertical-align: middle; margin-top: -3px; }
#imMnMn.static-menu .imMnMnFirstBg .imMnMnImg { display: block; height: 40px; width: 140px; cursor: pointer; }
#imMnMn.static-menu .imMnMnFirstBg .imMnMnImg img { position: absolute; }


/* MENU POSITION : HORIZONTAL VerticalOneColumn */
#imMnMn.static-menu ul .autoHide, #imMnMn.static-menu ul div .autoHide { display: none; }

/* ######################### MAIN MENU POSITION #########################*/

/* div: Menu container*/
#imMnMn.static-menu { z-index:10000; }
#imMnMn.static-menu > ul { position: relative; }
#imMnMn.static-menu > ul > li > ul { position: absolute; }

/* First level menu style */
#imMnMn.static-menu > ul > li { display: inline-block; width:140px; }
#imMnMn.static-menu > ul > li span { display:block; padding:0;}
#imMnMn.static-menu a { cursor: pointer; display: block; width:140px;}

/* ########################## SUB MENU POSITION #########################*/

#imMnMn.static-menu.auto ul li ul li { top: 0px; }

/* Second level boxmodel*/
#imMnMn.static-menu.auto ul li ul li ul { position: absolute; width: 170px; }

/* Hide Levels */
#imMnMn.static-menu.auto li:hover > ul.auto { display:block; }
#imMnMn.static-menu.auto li ul.auto { display: none; }
#imMnMn.static-menu ul ul li .imMnMnBorder { overflow: hidden; }
#imMnMn.static-menu > ul {margin-top: 15px;margin-bottom: 15px;} 
}
/* Mobile Fluid */
@media (max-width: 979px){
#imMnMn.static-menu { width: 100%; }
#imMnMn.static-menu .hamburger-button { position: absolute; top: 15px;left: 50%; right: 50%;transform: translateX(-50%);}
#imMnMn.static-menu .hamburger-button { cursor: pointer; width: 40px; height: 40px;background-image: url('../menu/mobile.png'); background-repeat: no-repeat; background-position: center center;}
#imMnMn.static-menu .hamburger-button > div { display: table; width: 40px; height: 40px; }
#imMnMn.static-menu .hamburger-button > div > div { display: table-cell; vertical-align: middle; width: 40px; height: 40px; }
#imMnMn.static-menu .hamburger-bar { margin: 4px auto; width: 65%; height: 4px; background-color: #253A58; }
#imMnMn.static-menu .hamburger-menu-background { z-index: 10;position: fixed;display: block;top: 0;bottom: 0;right: 0; left: auto;width: 170px;background-color: #FFFFFF;transition: left 0.5s, right 0.5s, opacity 0.5s;-webkit-transition: left 0.5s, right 0.5s, opacity 0.5s;}
#imMnMn.static-menu > ul {transition: right 0.5s, left 0.5s, opacity 0.5s;-webkit-transition: right 0.5s, left 0.5s, opacity 0.5s;}
#imMnMn.static-menu .hamburger-site-background { display: none;position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 9; background-color: black;}
#imMnMn.static-menu div.imMnMnCustomHTML { display: none; }

#imMnMn.static-menu { overflow: visible; float: none; z-index: 10; }
#imMnMn.static-menu ul ul { display: none; margin-bottom: 1px; }
#imMnMn.static-menu li > div { display: none; }
#imMnMn.static-menu div > ul { display: block; }
#imMnMn.static-menu > ul { z-index: 11; position: fixed; right: 0; left: auto; top: 40px; background-color: #FFFFFF; overflow-x: hidden; overflow-y: auto; height: calc(100% - 40px) }
#imMnMn.static-menu .hamburger-menu-close-button { display: block; font-family: Arial; font-size: 30px; text-align: right; padding: 5px 10px; color: #253A58; }
#imMnMn.static-menu .hamburger-menu-close-button span { cursor: pointer; }
#imMnMn.static-menu li { margin-bottom: 1px;display:block; width: 168px; }
#imMnMn.static-menu li:first-child { margin-top: 0; }
#imMnMn.static-menu .imMnMnTxt { border: 1px solid #D3D3D3; }
#imMnMn.static-menu li, #imMnMn.static-menu li a {font: normal normal normal 10pt 'Tahoma'; color: #253A58; text-align: left; text-decoration: none; background-color: #FFFFFF;}
#imMnMn.static-menu ul ul li .imMnMnTxt { background-color: #EBEBEB; }
#imMnMn.static-menu ul ul li li .imMnMnTxt { background-color: #D7D7D7; }
#imMnMn.static-menu ul ul li li li .imMnMnTxt { background-color: #C3C3C3; }
#imMnMn.static-menu .imMnMnTxt { max-height: 18px; position: relative; overflow: hidden; display: block; padding: 8px 8px 8px 8px; }
#imMnMn.static-menu ul li.imPage:hover, #imMnMn.static-menu ul li.imPage:hover .imMnMnTxt, #imMnMn.static-menu ul li.imLevel:hover > span > .imMnMnTxt, #imMnMn.static-menu ul li.imLevel:hover > a > span > .imMnMnTxt{text-decoration: none;color: #253A58; background-color: #B0D1FF; border-color: #D3D3D3;}
#imMnMn.static-menu ul li.imMnMnSeparator, #imMnMn.static-menu ul li.imMnMnSeparator .imMnMnTxt,#imMnMn.static-menu ul li.imMnMnSeparator:hover, #imMnMn.static-menu ul li.imMnMnSeparator:hover .imMnMnTxt{color: #A9A9A9; font-style: normal; font-weight: bold; }
#imMnMn.static-menu .empty-separator { background: transparent url('../res/separatorv.png') no-repeat center center; width: 170px; height: 10px; }
#imMnMn.static-menu .empty-separator span { display: none; }
#imMnMn.static-menu .imMnMnImg { margin-right: 3px; position: relative; width: 34px; height: 34px; }
#imMnMn.static-menu li img.imMnMnHoverIcon { display: none; }
#imMnMn.static-menu li img { vertical-align: top; }
#imMnMn.static-menu li:hover .imMnMnImg img.imMnMnDefaultIcon { display: none; }
#imMnMn.static-menu li:hover .imMnMnImg img.imMnMnHoverIcon { display: inline; }

#imMnMn.static-menu .menu-mobile-hidden, #imMnMn.static-menu > ul.menu-mobile-hidden { right: -170px; opacity: 0; }
}
/* Desktop */
@media (min-width: 980px){
.menu-mobile-logo { display: none; }
.static-menu .menu-mobile-logo {display: inline-block; vertical-align: top; margin:35px 10px 35px 10px; width: 0px;z-index: 2;}
#imMnMn.static-menu .menu-mobile-logo-container a { display: inline; }
}
/* Mobile Fluid */
@media (max-width: 979px){
.menu-mobile-logo { display: none; }
.static-menu .menu-mobile-logo {display: inline-block; vertical-align: top; position: absolute; top: 35px; left: 50%; right: 50%;max-width: 50%;transform: translateX(50%);width: 0px;z-index: 2;}
}
