html { position: relative; margin: 0; padding: 0; }
body { margin: 0; padding: 0; text-align: left; }
#imPage { position: relative; width: 100%; }
#imHeaderBg { position: absolute; left: 0; top: 0; width: 100%; }
#imMnMnGraphics { position: absolute; top: 0; bottom: 0; z-index: 9; }
#imContentContainer { position: relative; }
#imContent { position: relative; }
#imContentGraphics { position: absolute; top: 0; bottom: 0; }
#imFooPad { float: left; margin: 0 auto; }
#imBtMnContainer { clear: both; }
.imPageRow { position: relative; clear: both; overflow: hidden; float: left; width: 100%; }
.imHGroup:after, .imUGroup:after, .imVGroup:after, .imPageRow:after { content: ""; display: table; clear: both; }
#imFooterBg { position: absolute; left: 0; bottom: 0; width: 100%; }
#imFooter { position: relative; }
#imMnMn.static-menu { height: 70px; margin: 0; background-image: none; background-color: #B0D1FF; }
#imPageToTop { position: fixed; bottom: 30px; right: 30px; z-index: 100; display: none; opacity: 0.75 }
#imPageToTop:hover {opacity: 1; cursor: pointer; }
@media (min-width: 980px) {
		html { background-image: none; background-color: transparent; }
		#imPage { padding-top: 0; margin-top: 0px; margin-bottom: 0px; min-width: 980px; }
		#imHeaderBg { height: 400px; background-image: url('135-2.jpg'); background-position: center top; background-repeat: no-repeat; background-attachment: scroll; background-color: transparent; }
		#imHeader { position: relative; margin-bottom: 0; margin-left: auto; margin-right: auto; height: 400px; background-image: none; background-color: transparent; }
		#imHeaderObjects { position: relative; height: 400px; }
		#imMnMnContainer { position: absolute; top: 15px; left: 0; right: 0; margin-left: auto; margin-right: auto; }
		#imMnMn { position: relative; margin-left: 20px; margin-right: auto; height: 50px; padding: 20px 10px 0px 10px; background-image: none; background-color: #80FFFF; }
		#imMnMn > ul { text-align: left; }
		#imMnMn li { display: inline; }
		#imMnMnGraphics { display: none; }
		#imContent { min-height: 520px; padding: 20px 0 20px 0; }
		#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 520px;  background-image: none; background-color: #FFBFEF; }
		#imFooterBg { height: 40px; background-image: none; background-color: #B0D1FF; }
		#imFooter { margin-left: auto; margin-right: auto; height: 80px; background-image: none; background-color: #567EB6; }
		#imFooterObjects { position: relative; height: 80px; }
		#imFooPad { height: 520px; }
		#imHeader, #imMnMnContainer, #imFooter { width: 980px; }
		#imMnMn { width: 920px; }
		#imContentGraphics { width: 980px; }
	
}
@media (max-width: 979px) {
		html { background-image: none; background-color: transparent; }
		#imPage { padding-top: 0; margin-top: 0px; margin-bottom: 0px; }
		#imHeaderBg { height: 100px; background-image: url('135-2.jpg'); background-position: center center; background-repeat: no-repeat; background-attachment: scroll; background-color: #B0D1FF; }
		#imHeader { position: relative; margin-bottom: 0; margin-left: auto; margin-right: auto; height: 100px; background-image: none; background-color: transparent; }
		#imHeaderObjects { position: relative; height: 100px; }
		#imMnMnContainer { position: absolute; top: 15px; left: 0; right: 0; margin-left: auto; margin-right: auto; }
		#imMnMn { position: relative; margin-left: 15px; margin-right: auto; height: 30px; padding: 5px 5px 5px 5px; background-image: none; background-color: #B0D1FF; }
		#imMnMn > ul { text-align: center; }
		#imMnMn li { display: inline; }
		#imMnMnGraphics { display: none; }
		#imContent { min-height: 520px; padding: 5px 0 5px 0; }
		#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 520px;  background-image: none; background-color: #FFDF80; }
		#imFooterBg { height: 35px; background-image: none; background-color: #B0D1FF; }
		#imFooter { margin-left: auto; margin-right: auto; height: 35px; background-image: none; background-color: #567EB6; }
		#imFooterObjects { position: relative; height: 35px; }
		#imFooPad, #imBtMnContainer, #imBtMn, #imPgMnContainer { display: none; }
		#imMnMn { width: 280px; }
		#imPage, #imContent, #imContentGraphics, #imFooter { box-sizing: border-box; width: 100%; }
	
}
