h2#imPgTitle { position: relative; float: left; }
@media (min-width: 1200px) {
	.imContentDataContainer { width: 1190px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
	#imPgTitle { width: 1176px; margin-left: 6px; margin-right: 6px; }
	
}

@media (max-width: 1199px) {
	.imContentDataContainer { width: 100%; }
	#imPgTitle { width: 100%; margin-left: 0px; margin-right: 0px; }
	
}

