#imHeader_imCell_1 { display: block; position: relative; overflow: visible; }
#imHeader_imCellStyle_1 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imHeader_imCellStyleGraphics_1 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imObjectTitle_01 {overflow: hidden; text-align: center; }
#imHeader_imObjectTitle_01_text {font: normal normal normal 36pt 'Tahoma';  padding: 0px 0px 0px 0px;background-color: transparent; position: relative; display: inline-block; }
#imHeader_imObjectTitle_01_text,
#imHeader_imObjectTitle_01_text a { color: #809FFF; white-space: pre; }
#imHeader_imObjectTitle_01_text a{ text-decoration: none; }
#imHeader_imCell_2 { display: block; position: relative; overflow: hidden; }
#imHeader_imCellStyle_2 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imHeader_imCellStyleGraphics_2 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imObjectImage_02 { width: 100%; vertical-align: top; }

/* CONTAINER AND TITLE */
#imPgTitle.searchPageTitle { margin-left: 5px; margin-right: 5px; }

/* SIDE MENU  */

@media (min-width: 980px) {
	#imSearchContent { width: 789px; padding: 20px 0; float: right; }
	#imSearchSideBar { width: 131px; padding: 20px 0; float: left; }
	#imSearchSideBar li { display: block; width: 100%; }
	
}
@media (max-width: 979px) {
	#imSearchContent { width: 100%; padding: 20px 0; }
	#imSearchSideBar { width: 100%; text-align: center; }
	#imSearchSideBar li { display: inline-block; width: auto; margin-right: 5px; }
	
}
.imSLabel { padding: 10px 0; }
#imSearchSideBar ul { border-top: 0px solid #808080; border-bottom: 0px solid #808080; border-left: 0px solid #808080; border-right: 0px solid #808080; }
#imSearchSideBar li { margin-bottom: 0px; background-color: transparent; border-bottom: 1px solid #A9A9A9; }
#imSearchSideBar .imPgMnFirst { border: none; }

/* Normal font style */
#imSearchSideBar .imScMnTxt { display: block; padding: 6px 3px; text-decoration: none; font: normal normal 11pt 'Tahoma'; color: #000000;}

/* Current or hover font style */
#imSearchSideBar li:hover { background-color: #253A58; cursor: pointer; }
#imSearchSideBar li:hover a, #imSearchSideBar li:hover .imScMnTxt { cursor: pointer; text-decoration: none; color: #FFFFFF; font-style: normal; font-weight: normal; }
.imScMnTxt a { display: block; width: 100%; }

/* Section font style */
#imSearchSideBar .imPgMnSeparator a, #imSearchSideBar .imPgMnSeparator .imScMnTxt, #imSearchSideBar .imPgMnSeparator:hover a, #imSearchSideBar .imPgMnSeparator .imScMnTxt { cursor: auto; background-color: transparent; text-decoration: none; color: #253A58; font-style: normal; font-weight: bold; }
#imSearchSideBar li:hover.imPgMnSeparator { cursor: auto; background-color: transparent; }
#imSearchSideBar ul a, #imSearchSideBar ul a:hover, #imSearchSideBar ul a:visited { font: inherit; color: inherit; text-align: inherit; text-decoration: none; }

/* SEARCH FIELDS */
.imPageSearchField { text-align: center; }
.imPageSearchField .search_field { border: 1px solid black; background-color: white; font: inherit; }

/* RESULTS */
.imSearchLink { margin-top: 5px; }
.imSearchPageResult, .imSearchBlogResult { margin: 0 0 20px 0; }
.imSearchProductResult { margin: 0 0 30px 0; }
#imSearchResults .imSearchCount { text-decoration: none; font-weight: normal; }
#imSearchResults h3 { color: inherit; margin-bottom: 5px; font-size: 1.2em; text-decoration: underline; font-weight: normal; }
#imSearchResults h3 a, #imSearchResults h3 a:hover, #imSearchResults h3 a:visited { color: inherit; }
#imSearchResults .imProductImage { display: inline-block; width: 20%; text-align: center; vertical-align: top; }
#imSearchResults .imProductImage img { max-width: 100%; }
#imSearchResults .imProductTitle img { margin-left: 10px; }
#imSearchResults .imProductTitle { margin-bottom: 10px; }
#imSearchResults .imProductDescription { display: inline-block; width: 80%; }
#imSearchResults .imProductDescription > * { padding-right: 10px; padding-left: 10px; }
.imSearchImageResultContent {float: left; width: 50%;}
.imSearchImageResult {clear: none; float: left; width: 50% }
.imSearchImageResult img { border-width: 0; width: 94%; padding-left: 3%; padding-right: 3%; float: left; }
.imSearchVideoResultContent {float: left; width: 50%;}
.imSearchVideoResult {clear: none; float: left; width: 50% }
.imSearchVideoResult img { border-width: 0; width: 94%; padding-left: 3%; padding-right: 3%; float: left; }
.imSearchVideoDuration { margin-top: 5px; clear: both; display: block; text-decoration: none; color: gray; font-weight: normal; }
@media (min-width: 980px) {
	#imSearchPage { box-sizing: border-box; width: 980px; margin-left: auto; margin-right: auto; padding: 0 20px 0 20px; }
	
}

@media (max-width: 979px) {
	#imSearchPage { width: 100%; }
	
}

@media (min-width: 980px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 100px; left: 68px; width: 270px; height: 60px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 270px; min-height: 58px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_1 { width: 270px; min-height: 58px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_1 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px;  }
	#imHeader_imObjectTitle_01 {min-height: 58px; }
	#imHeader_imObjectImage_02_wrapper { position: absolute; top: 100px; left: 359px; width: 150px; height: 114px; z-index: 2; overflow-y: hidden; }
	#imHeader_imObjectImage_02_wrapper img {-webkit-clip-path: inset(0 0 53.659% 0);clip-path: inset(0 0 53.659% 0);}#imHeader_imCell_2 { width: 150px; min-height: 246px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_2 { width: 150px; min-height: 246px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_2 { left: 0px; right: 0px; }
	
}

@media (max-width: 979px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 47px; left: 8px; width: 186px; height: 47px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 100%; min-height: 53px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; box-sizing: border-box; }
	#imHeader_imCellStyle_1 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imHeader_imCellStyleGraphics_1 { top: 0px; bottom: 0px; left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { font-size: 33.15pt; }
	#imHeader_imObjectTitle_01_text { top: 0px;  }
	#imHeader_imObjectTitle_01 {min-height: 53px; }
	#imHeader_imObjectImage_02_wrapper { position: absolute; top: 41px; left: 226px; width: 69px; height: 48px; z-index: 2; overflow-y: hidden; }
	#imHeader_imObjectImage_02_wrapper img {-webkit-clip-path: inset(0 0 57.522% 0);clip-path: inset(0 0 57.522% 0);}#imHeader_imCell_2 { width: 100%; min-height: 113px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; box-sizing: border-box; }
	#imHeader_imCellStyle_2 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imHeader_imCellStyleGraphics_2 { top: 0px; bottom: 0px; left: 0px; right: 0px; }
	
}

