#imSideBar_pluginAppObj_02 .post { 
    max-height: 350px;
    overflow: auto;
}

@media (max-width: 479.9px) { #imSideBar_pluginAppObj_02 .post {overflow: visible; }}

    #imSideBar_pluginAppObj_02 .post_title {
	display: block;
	font-family: 'PT Sans Narrow';
	font-size: 16pt;
	text-align: left;
	color: rgba(11, 83, 148, 1);
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	margin-bottom: 5px;
}

#imSideBar_pluginAppObj_02 .post_body {
	font-family: 'PT Sans Narrow';
	font-size: 12pt;
	text-align: left;
	color: rgba(19, 79, 92, 1);
	font-style: normal;
	font-weight: normal;
	margin-bottom: 5px;
}

#imSideBar_pluginAppObj_02 .post_data {
	font-size: 11pt;
	font-family: 'PT Sans Narrow';
	text-align: left;
	color: rgba(19, 79, 92, 1);
	font-style: normal;
	font-weight: normal;
	margin-bottom: 8px;
}