#New_ProjectStage {
                  width:1368px;
			      height:300px;
			      transform-origin: top left;
			      transition: all 100ms ease-in-out !important;
			      position: absolute;  
			    }