#imHeader_imCell_1 { display: block; position: relative; overflow: visible; }
#imHeader_imCellStyle_1 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imHeader_imCellStyleGraphics_1 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imObjectTitle_01 {overflow: hidden; text-align: center; }
#imHeader_imObjectTitle_01_text {font: normal normal normal 36pt 'Tahoma';  padding: 0px 0px 0px 0px;background-color: transparent; position: relative; display: inline-block; }
#imHeader_imObjectTitle_01_text,
#imHeader_imObjectTitle_01_text a { color: #809FFF; white-space: pre; }
#imHeader_imObjectTitle_01_text a{ text-decoration: none; }
#imHeader_imCell_2 { display: block; position: relative; overflow: hidden; }
#imHeader_imCellStyle_2 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imHeader_imCellStyleGraphics_2 { position: absolute; top: 0px; bottom: 0px; background-color: transparent; }
#imHeader_imObjectImage_02 { width: 100%; vertical-align: top; }
#imBlogContent h2 a:hover { text-decoration: underline; }
#imBlogContent { float: left; padding-left: 5px; font: inherit; overflow: hidden; }
#imBlogSidebar { float: left; padding-left: 5px; font: inherit; }
.imBlogBlock { margin: 10px 0; overflow: hidden; }
.imBlogBlock ul { list-style:none; }
.imBlogBlock .imBlogCloudItem { margin-right: 5px; display: inline; }
.imBlogPostBody, .imBlogPostSummary { margin: 10px 0 0 0; }
.imBlogPostRead { margin: 10px 0; }
.imBlogBlockTitle { font-size: 1.1em; font-weight: bold; margin-bottom: 5px; }
.imBlogSeparator { margin: 10px 0 10px 0; border-bottom: 1px dotted gray; }
.imBlogSources { border-top: 1px solid #CCCCCC; padding-top: 5px; margin-top: 5px;}
.imBlogSources ul { margin: 5px 0 0 5px; }
#imBlogContent .topic-star-container-big { background-image: url('../images/star01-big-empty.png'); }
#imBlogContent .topic-star-fixer-big { background-image: url('../images/star01-big-full.png'); }
#imBlogContent .topic-star-container-small { background-image: url('../images/star01-small-empty.png'); }
#imBlogContent .topic-star-fixer-small { background-image: url('../images/star01-small-full.png'); }
#imBlogContent .imBreadcrumb { display: block; text-align: inherit; }
#imBlogBlock0 { border-top: 1px solid #253A58; border-left: 1px solid #253A58; border-bottom: 1px solid #253A58; border-right: 1px solid #253A58;  border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;font: normal normal normal 12pt 'Tahoma'; color: #253A58; background-color: #FFFFFF; text-decoration: none; }
#imBlogBlock0 a, #imBlogBlock0 a:link, #imBlogBlock0 a:hover, #imBlogBlock0 a:visited { font: normal normal normal 12pt 'Tahoma'; color: #253A58; background-color: #FFFFFF; text-decoration: none; }
#imBlogBlock0 a:hover { text-decoration: underline; }
#imBlogBlock1 { border-top: 1px solid #253A58; border-left: 1px solid #253A58; border-bottom: 1px solid #253A58; border-right: 1px solid #253A58;  border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;font: normal normal normal 12pt 'Tahoma'; color: #253A58; background-color: #FFFFFF; text-decoration: none; }
#imBlogBlock1 a, #imBlogBlock1 a:link, #imBlogBlock1 a:hover, #imBlogBlock1 a:visited { font: normal normal normal 12pt 'Tahoma'; color: #253A58; background-color: #FFFFFF; text-decoration: none; }
#imBlogBlock1 a:hover { text-decoration: underline; }
#imBlogBlock2 { border-top: 1px solid #253A58; border-left: 1px solid #253A58; border-bottom: 1px solid #253A58; border-right: 1px solid #253A58;  border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;font: normal normal normal 12pt 'Tahoma'; color: #253A58; background-color: #FFFFFF; text-decoration: none; }
#imBlogBlock2 a, #imBlogBlock2 a:link, #imBlogBlock2 a:hover, #imBlogBlock2 a:visited { font: normal normal normal 12pt 'Tahoma'; color: #253A58; background-color: #FFFFFF; text-decoration: none; }
#imBlogBlock2 a:hover { text-decoration: underline; }
#imBlogBlock3 { border-top: 1px solid #253A58; border-left: 1px solid #253A58; border-bottom: 1px solid #253A58; border-right: 1px solid #253A58;  border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;font: normal normal normal 12pt 'Tahoma'; color: #253A58; background-color: #FFFFFF; text-decoration: none; }
#imBlogBlock3 a, #imBlogBlock3 a:link, #imBlogBlock3 a:hover, #imBlogBlock3 a:visited { font: normal normal normal 12pt 'Tahoma'; color: #253A58; background-color: #FFFFFF; text-decoration: none; }
#imBlogBlock3 a:hover { text-decoration: underline; }
@media (min-width: 720px) {
	#imBlogBlock0 { width: 138px; padding: 10px 10px; }
	#imBlogBlock1 { width: 138px; padding: 10px 10px; }
	#imBlogBlock2 { width: 138px; padding: 10px 10px; }
	#imBlogBlock3 { width: 138px; padding: 10px 10px; }
	
}
@media (max-width: 719px) {
	#imBlogBlock0 { box-sizing: border-box; width: 100%; padding: 10px 10px; }
	#imBlogBlock1 { box-sizing: border-box; width: 100%; padding: 10px 10px; }
	#imBlogBlock2 { box-sizing: border-box; width: 100%; padding: 10px 10px; }
	#imBlogBlock3 { box-sizing: border-box; width: 100%; padding: 10px 10px; }
	
}
#imBlogPost_i5l6yc5t ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imBlogPost_i5l6yc5t ul ul { list-style: square; padding: 0 0 0 20px; }
#imBlogPost_i5l6yc5t ul ul ul { list-style: circle; }
#imBlogPost_i5l6yc5t ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imBlogPost_i5l6yc5t ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imBlogPost_i5l6yc5t ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imBlogPost_i5l6yc5t ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imBlogPost_i5l6yc5t blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imBlogPost_i5l6yc5t table { border: none; padding: 0; border-collapse: collapse; }
#imBlogPost_i5l6yc5t table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imBlogPost_i5l6yc5t p { margin: 0; padding: 0; }
#imBlogPost_i5l6yc5t .inline-block { display: inline-block; }
#imBlogPost_i5l6yc5t sup { vertical-align: super; font-size: smaller; }
#imBlogPost_i5l6yc5t sub { vertical-align: sub; font-size: smaller; }
#imBlogPost_i5l6yc5t img { border: none; margin: 0; vertical-align: text-bottom;}
#imBlogPost_i5l6yc5t .fleft { float: left; vertical-align: baseline;}
#imBlogPost_i5l6yc5t .fright { float: right; vertical-align: baseline;}
#imBlogPost_i5l6yc5t img.fleft { margin-right: 15px; }
#imBlogPost_i5l6yc5t img.fright { margin-left: 15px; }
#imBlogPost_i5l6yc5t .imUl { text-decoration: underline; }
#imBlogPost_i5l6yc5t .imVt { vertical-align: top; }
#imBlogPost_i5l6yc5t .imVc { vertical-align: middle; }
#imBlogPost_i5l6yc5t .imVb { vertical-align: bottom; }
@media (min-width: 1200px) {
	#imBlogPage { box-sizing: border-box; width: 1200px; margin-left: auto; margin-right: auto; padding: 0 0px 0 0px; }
	#imBlogContent { width: 1027px; }
	#imBlogSidebar { width: 160px; }
	
}

@media (max-width: 1199px) and (min-width: 720px) {
	#imBlogPage { box-sizing: border-box; width: 720px; margin-left: auto; margin-right: auto; padding: 0 5px 0 5px; }
	#imBlogContent { width: 537px; }
	#imBlogSidebar { width: 160px; }
	
}

@media (max-width: 719px) {
	#imBlogPage { width: 100%; }
	#imBlogContent, #imBlogSidebar { box-sizing: border-box; width: 100%; padding-right: 5px; }
	
}

@media (min-width: 1200px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: -21px; left: 80px; width: 250px; height: 58px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 250px; min-height: 58px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_1 { width: 250px; min-height: 58px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_1 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px;  }
	#imHeader_imObjectTitle_01 {min-height: 58px; }
	#imHeader_imObjectImage_02_wrapper { position: absolute; top: -43px; left: 5px; width: 150px; height: 100px; z-index: 2; overflow-y: hidden; }
	#imHeader_imObjectImage_02_wrapper img {-webkit-clip-path: inset(0 0 29.078% 0);clip-path: inset(0 0 29.078% 0);}#imHeader_imCell_2 { width: 150px; min-height: 141px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_2 { width: 150px; min-height: 141px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_2 { left: 0px; right: 0px; }
	
}

@media (max-width: 1199px) and (min-width: 720px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 1px; left: 1px; width: 250px; height: 60px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 250px; min-height: 58px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_1 { width: 250px; min-height: 58px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_1 { left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px;  }
	#imHeader_imObjectTitle_01 {min-height: 58px; }
	#imHeader_imObjectImage_02_wrapper { position: absolute; top: -3px; left: 336px; width: 150px; height: 100px; z-index: 2; overflow-y: hidden; }
	#imHeader_imObjectImage_02_wrapper img {-webkit-clip-path: inset(0 0 29.078% 0);clip-path: inset(0 0 29.078% 0);}#imHeader_imCell_2 { width: 150px; min-height: 141px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; }
	#imHeader_imCellStyle_2 { width: 150px; min-height: 141px; padding: 0px 0px 0px 0px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imHeader_imCellStyleGraphics_2 { left: 0px; right: 0px; }
	
}

@media (max-width: 719px) {
	#imHeader_imObjectTitle_01_wrapper { position: absolute; top: 9px; left: 5px; width: 250px; height: 60px; z-index: 1; overflow-y: hidden; }
	#imHeader_imCell_1 { width: 100%; min-height: 58px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; box-sizing: border-box; }
	#imHeader_imCellStyle_1 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imHeader_imCellStyleGraphics_1 { top: 0px; bottom: 0px; left: 0px; right: 0px; }
	#imHeader_imObjectTitle_01_text { top: 0px;  }
	#imHeader_imObjectTitle_01 {min-height: 58px; }
	#imHeader_imObjectImage_02_wrapper { display: none; }
	#imHeader_imObjectImage_02_wrapper img {-webkit-clip-path: inset(0 0 29.078% 0);clip-path: inset(0 0 29.078% 0);}#imHeader_imCell_2 { width: 100%; min-height: 141px;  padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; box-sizing: border-box; }
	#imHeader_imCellStyle_2 { width: 100%; min-height: 0px; padding: 0px 0px 0px 0px; }
	#imHeader_imCellStyleGraphics_2 { top: 0px; bottom: 0px; left: 0px; right: 0px; }
	
}

