.Normal_text {font-family:'Raleway';font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;text-transform: none;color:#00A192;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'xr4_Noto Sans';font-weight:bold;font-style:normal;font-size:40px;text-decoration:none;text-transform: none;color:#00A192;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_3 {font-size:24px;}
.Heading_2 {font-size:32px;}
.TITLE {font-size:48px;color:#0EF586;}
.Normal_text_2 {font-family:'Noto Serif';font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;text-transform: none;color:#000000;-webkit-text-stroke: 0px black;letter-spacing:0em;}
