.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;text-transform: none;color:#0F334C;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'xr3_Roboto';font-weight:bold;font-style:normal;font-size:40px;text-decoration:none;text-transform: none;color:#0F334C;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.x--208-156-208-190-208-185_H1 {font-family:'xr1_PT Sans Narrow';font-size:64px;color:#00FFFF;}
.Heading_2 {font-family:'Roboto1';font-weight:normal;font-size:39.02px;}
.Heading_3 {font-size:24px;}
.TITLE {font-size:48px;color:#219DF6;}
