
#pluginAppObj_21_container{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    width: 500px;
    max-width: 100%;
    height: 250px;
    
}

#pluginAppObj_21_container.rem-highlight {
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

#pluginAppObj_21 .pluginAppObj_21-button {
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    font-family: Arial;
    font-size: 14pt;
    font-weight: normal;
    font-style: normal;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: rgba(0, 0, 255, 1);
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: center;
    text-decoration: none;
    line-height: 16pt;
    display:block;
    position: relative;
    overflow:hidden;
    background-image: url('../../pluginAppObj/pluginAppObj_21/small_item_375.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}



#pluginAppObj_21 .flex-container {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:   row 
}

#pluginAppObj_21 .flex-item {
    max-height:100%;    
    max-width: 100%;
}

#pluginAppObj_21 .item-txt {
    order:1;
    display: block;
}

#pluginAppObj_21 .item-icon {
    order:2;
    flex: 0 0 18.62px;
    display: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#pluginAppObj_21 .div-icon {
    background-image: url('../../');
    background-repeat: no-repeat;
    background-size: contain;
        
}

#pluginAppObj_21 .button-wrapper-over {
    background-color: transparent;
    border-style: solid;
    border-color: rgba(25, 25, 112, 1);
    color: rgba(14, 131, 205, 1);
    font-weight:normal;
	background-image: url('../../pluginAppObj/pluginAppObj_21/small_item_376.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}

#pluginAppObj_21 .button-wrapper-over.fade {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 300ms;
}
#pluginAppObj_21 .button-wrapper-over.fade.animated {
    opacity: 1;
}

#pluginAppObj_21 .sweeper {
    position: absolute;
    top: 0; left: 0; width: 0; height: 100%;
    overflow: hidden;
    transition: all 300ms;
}
#pluginAppObj_21 .sweeper .button-wrapper-over{
    position: absolute;
    top: 0; left: 0;
}

#pluginAppObj_21 .sweeper.animated {
    width: 100%;
}

#pluginAppObj_21 .shutter {
    position: absolute;
    overflow: hidden;
    transition: all 300ms;
    transform: translate3d(0, 0, 0);
 	top: 50%; left:0; width:100%; height:0;
}
#pluginAppObj_21 .shutter .button-wrapper-over {
    position: absolute;    
    transition: all 300ms;
    top:0; left:0; transform: translate3d(0, -50%, 0);
}
#pluginAppObj_21 .shutter.animated {
    top: 0; height:100%;
}
#pluginAppObj_21 .shutter.animated .button-wrapper-over {
    transform: translate3d(0, 0, 0);
}

#pluginAppObj_21 .button-wrapper-over.rotate-under {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#pluginAppObj_21 .rotate-u:not(.rotate-under) {
    transform-origin: 50% 100%;
    transform: rotate3d(0, 0, 0, 0deg);
    transition: all 300ms;
}
#pluginAppObj_21 .rotate-u:not(.rotate-under).animated {
    transform: rotate3d(-1, 0, 0, 85deg);
}

#pluginAppObj_21 .button-wrapper-over.rotate-over {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 50% 0;
    transform: rotateX(270deg);
    transition: all 300ms;
}
#pluginAppObj_21 .button-wrapper-over.rotate-over.animated {
    transform: rotateX(0);
}